/* -------------------------------------
	mixin
--------------------------------------*/

@import "../../../mixin/responsive";
@import "../../../mixin/inner";
@import "../../../mixin/home-title";
@import "../../../mixin/font-size";

/* -------------------------------------
	event_edit
--------------------------------------*/
.event_edit {
    width: 100%;
    background-color: #f5f7fa;

    &__title {
        @include font-size("48");
        padding-top: max(3.57vw, 3.5rem);
        padding-bottom: max(1.43vw, 1.5rem);
        padding-left: 3rem;
    }
    &__page_header {
        position: relative;
        width: 100%;
        background-size: cover;
        background-position: center;
        height: min(28.12vw, 30rem);
        display: flex;
        justify-content: center;
        align-items: center;
        background-repeat: no-repeat;
        flex-direction: column;
        background-image: url(./../../images/dogevent_header.jpg);
    }
    &__inner {
        @include inner;
    }
    &__cont {
        margin-top: min(3.5vw, 3.5rem);
        padding-bottom: 3rem;
    }
    &__table {
        border-collapse: collapse;
        border-spacing: 0;
        width: 100%;
    }
    &__table-tr:hover {
        background-color: #d4f0fd;
    }
    &__table-th {
        width: 25%;
        padding: 0 5%;
        @include font-size("14");
        vertical-align: middle;
    }
    &__table-td {
        text-align: center;
        padding: min(1.5vw, 1.5rem) 0;
    }
    &__table-icon {
        @include font-size("14");
    }
    &__table-date {
        display: flex;
        justify-content: center;
        align-items: center;
        gap: 1rem;
    }

    &__detail {
        height: 10em;
    }

    &__btn {
        width: 50%;
        margin: min(3.57vw, 5rem) auto 0;
        text-align: center;
        display: flex;
        justify-content: center;
        align-items: center;
        gap: 2rem;
    }

    .form-control {
        height: 3.5em;
        @include font-size("12");
        padding: 0.6em 0.75rem;
    }
}
@include responsive("sp") {
    .event_edit {
        &__page_header {
            height: min(34.88vw, 15rem);
        }
    }
}
