/* -------------------------------------
  mixin
--------------------------------------*/

.floating__banner {
  position: fixed;
  margin: 15px 20px;
  z-index: 99998;
  bottom: 0;
  right: 0;
}

.floating__banner a {
  text-decoration: none;
}

.floating__banner-back {
  background-color: #fff;
  border-radius: 25px;
}

.floating__banner-body {
  text-align: center;
  border-radius: 25px;
  box-shadow: 0 0 7px rgba(0, 0, 0, 0.4);
  padding: 20px;
  background: radial-gradient(#0ab0c7, #006eb0 70%);
  font-size: 1.5rem;
  font-weight: bolder;
  color: white;
  display: flex;
  gap: 1rem;
}

.floating__banner-body:hover {
  transition: opacity 0.3s ease;
  opacity: 0.7;
}

.floating__banner-close {
  font-weight: bold;
  position: absolute;
  top: -2px;
  right: -4px;
  z-index: 99999;
  padding: 4px 8px;
  border: none;
  background-color: #f8f8f8;
  border-radius: 25px;
  cursor: pointer;
  box-shadow: 0 0 7px rgba(0, 0, 0, 0.4);
}

@media screen and (max-width: 750px) {
  .floating__banner {
    width: 100%;
    margin: 0px;
  }

  .floating__banner-body {
    width: 100%;
    padding: 5px;
    border-radius: 0px;
    background: linear-gradient(#006eb0 50%, #0ab0c7);
  }

  .floating__banner-back {
    width: 100%;
    margin: 0px;
    border-radius: 0px;
  }

  .floating__banner-close {
    top: 8px;
    right: 15px;
  }
}

/* -------------------------------------
  setting
--------------------------------------*/

.setting {
  background-color: #f5f7fa;
}

.setting__inner {
  width: 100%;
  padding: 0 7.5%;
  margin: auto;
}

@media screen and (max-width: 530px) {
  .setting__inner {
    padding: 0 5%;
  }
}

.setting__title {
  padding-top: 5rem;
  font-size: 5rem;
  font-weight: 900;
}

.setting__cards {
  padding-top: 3rem;
  font-size: 1.6rem;
}

.setting__card {
  padding: 2rem;
  background: white;
}

.setting__card:nth-child(n+2) {
  margin-top: 5rem;
}

.setting__card-header {
  font-size: 2rem;
  font-weight: bold;
}

.setting__card-body {
  margin-top: 3rem;
}

.setting__card-table {
  margin: 1rem 0;
  line-height: 2;
  border-bottom: 1px solid #dee2e6;
}

.setting__card-table th {
  vertical-align: middle;
  padding: 1rem;
}

.setting__card-table td {
  vertical-align: middle !important;
}

