/* -------------------------------------
	mixin
--------------------------------------*/

/*-------------------
  scrolldown
-------------------*/

.scrolldown {
  position: absolute;
  bottom: 0%;
  right: 50%;
  -webkit-animation: arrowmove 1s ease-in-out infinite;
          animation: arrowmove 1s ease-in-out infinite;
}

@-webkit-keyframes arrowmove {
  0% {
    bottom: -8%;
  }

  50% {
    bottom: -3%;
  }

  100% {
    bottom: -8%;
  }
}

@keyframes arrowmove {
  0% {
    bottom: -8%;
  }

  50% {
    bottom: -3%;
  }

  100% {
    bottom: -8%;
  }
}

.scrolldown:before {
  content: "";
  position: absolute;
  bottom: 0;
  right: -10px;
  width: 3px;
  height: 35px;
  background: black;
  transform: skewX(-31deg);
}

.scrolldown:after {
  content: "";
  position: absolute;
  bottom: 0;
  right: 0;
  width: 3px;
  height: 60px;
  background: black;
}

.scrolldown span {
  position: absolute;
  left: -20px;
  bottom: 10px;
  color: black;
  font-size: 13px;
  font-weight: bold;
  letter-spacing: 0.05em;
  -ms-writing-mode: tb-rl;
  writing-mode: vertical-rl;
  word-break: normal;
}

@media screen and (max-width: 530px) {
  .scrolldown:before {
    height: 25px;
    right: -7px;
  }

  .scrolldown:after {
    height: 50px;
  }

  .scrolldown span {
    font-size: 11px;
  }
}

/* -------------------------------------
	function
--------------------------------------*/

/* -------------------------------------
	Home
--------------------------------------*/

/*-------------------
  mainvisual
-------------------*/

.mainvisual {
  position: relative;
  width: 100%;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: -8rem;
}

.mainvisual__bg {
  background: linear-gradient(180deg, rgba(0, 0, 0, 0) 0%, rgba(0, 0, 0, 0) 50%, #fcf7e9 50%, #fcf7e9 100%);
  width: 100%;
  height: 100%;
  display: flex;
}

.mainvisual__inner {
  width: 100%;
  padding: 0 7.5%;
  margin: auto;
  box-sizing: border-box;
  max-width: calc(119rem + 15%);
}

@media screen and (max-width: 960px) {
  .mainvisual__inner {
    padding: 0 5%;
  }
}

.mainvisual__cont {
  display: flex;
  justify-content: space-around;
  width: 100%;
  margin: 0 auto;
  padding: 5%;
  background-color: #fff;
  box-shadow: 0px 0px 15px -5px #777777;
  border-radius: 2rem;
}

.mainvisual__left {
  width: 50%;
}

.mainvisual__right {
  width: 40%;
  opacity: 1;
  transition: -webkit-animation 0.3s;
  transition: animation 0.3s;
  transition: animation 0.3s, -webkit-animation 0.3s;
  -webkit-mask-image: linear-gradient(45deg, white 60%, transparent);
  mask-image: linear-gradient(260deg, white 60%, transparent);
  display: flex;
  justify-content: center;
  align-items: center;
  filter: drop-shadow(5px 5px 5px #aaa);
}

.mainvisual__right img {
  width: 80%;
  height: 80%;
  -o-object-fit: cover;
     object-fit: cover;
}

.mainvisual__sub-ttl {
  font-size: clamp(2.3rem, 3.2vw, 3.2rem);
  line-height: 1.5;
  font-weight: bold;
  display: flex;
  align-items: center;
  gap: 1rem;
}

@media screen and (max-width: 530px) {
  .mainvisual__sub-ttl {
    font-size: min(5.58vw, 2.4rem);
  }
}

.mainvisual__sub-ttl img {
  width: 4rem;
}

.mainvisual__sub-ttl span {
  color: #ff6363;
}

.mainvisual__main-ttl {
  font-size: clamp(3.4rem, 4.8vw, 4.8rem);
  line-height: 1.5;
  font-weight: 900;
  padding-top: min(3vw, 3rem);
  font-weight: 900;
}

@media screen and (max-width: 530px) {
  .mainvisual__main-ttl {
    font-size: min(8.37vw, 3.6rem);
  }
}

.mainvisual__desc {
  font-size: clamp(2.3rem, 3.2vw, 3.2rem);
  line-height: 1.5;
  font-weight: bold;
  padding-top: min(2.67vw, 2.5rem);
  font-weight: 900;
}

@media screen and (max-width: 530px) {
  .mainvisual__desc {
    font-size: min(5.58vw, 2.4rem);
  }
}

.mainvisual__btn-box {
  display: flex;
  gap: 5%;
}

.mainvisual__btn {
  margin: min(3vw, 4rem) auto 0;
  background-color: #f9e61f;
  width: 50%;
  display: flex;
  justify-content: space-around;
  align-items: center;
  font-size: clamp(1.2rem, 1.4vw, 1.8rem);
  line-height: 1.5;
  font-weight: bold;
  text-align: center;
  border-radius: 9999px;
  padding: clamp(0.5rem, 1.5vw, 1rem) 0;
  position: relative;
  overflow: hidden;
  z-index: 1;
  -moz-filter: drop-shadow(1px 3px 5px rgba(0, 0, 0, 0.2));
  -ms-filter: drop-shadow(1px 3px 5px rgba(0, 0, 0, 0.2));
  filter: drop-shadow(1px 3px 5px rgba(0, 0, 0, 0.2));
}

.mainvisual__btn:hover {
  filter: none;
  color: black;
  -webkit-text-decoration: auto;
          text-decoration: auto;
}

.mainvisual__btn:hover::before {
  transform: scaleX(1);
}

.mainvisual__btn:before {
  content: "";
  background: #ffffff;
  display: inline-block;
  border-radius: 9999px;
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  border: 2px solid black;
  transform-origin: 1px 50%;
  transform: scaleX(0);
  transition: transform 0.2s;
  z-index: -1;
}

@media screen and (max-width: 530px) {
  .mainvisual {
    height: calc(100vh - 8rem);
    margin-top: 0;
  }

  .mainvisual__bg {
    background: linear-gradient(200deg, rgba(0, 0, 0, 0) 0%, rgba(0, 0, 0, 0) 45%, rgba(252, 247, 233, 0.6) 45%, rgba(252, 247, 233, 0.6) 100%);
    padding: 0;
  }

  .mainvisual__inner {
    padding-bottom: 5%;
  }

  .mainvisual__cont {
    flex-direction: column-reverse;
    gap: min(6.98vw, 3rem);
    padding: 10% 5%;
  }

  .mainvisual__left {
    width: 100%;
    padding: 0 5%;
  }

  .mainvisual__right {
    width: 100%;
    overflow: hidden;
    display: none;
  }

  .mainvisual__main-ttl {
    padding-top: min(4.65vw, 2rem);
  }

  .mainvisual__desc {
    padding-top: min(4.65vw, 2rem);
  }

  .mainvisual__btn-box {
    flex-direction: column;
    margin-top: min(4.65vw, 2rem);
  }

  .mainvisual__btn {
    margin: min(4.65vw, 2rem) auto 0;
    padding: min(2.3vw, 1rem) 0;
    width: 80%;
    filter: none;
  }
}

/* -------------------------------------
	worrie
--------------------------------------*/

.worrie {
  margin-top: 10rem;
}

.worrie__inner {
  width: 100%;
  padding: 0 7.5%;
  margin: auto;
  box-sizing: border-box;
  max-width: calc(119rem + 15%);
}

@media screen and (max-width: 960px) {
  .worrie__inner {
    padding: 0 5%;
  }
}

.worrie__title {
  font-size: clamp(3.4rem, 4.8vw, 4.8rem);
  line-height: 1.5;
  font-weight: 900;
  position: relative;
  font-family: source-sans-pro, "arial black";
  text-align: center;
}

@media screen and (max-width: 530px) {
  .worrie__title {
    font-size: min(8.37vw, 3.6rem);
  }
}

.worrie__title::before {
  content: "";
  position: absolute;
  bottom: 0;
  left: 50%;
  width: 260px;
  border-bottom: 3px solid #a77b00;
  transform: translate(-50%);
}

.worrie__title--color {
  color: red;
}

.worrie__subtitle {
  font-size: clamp(2.3rem, 3.2vw, 3.2rem);
  line-height: 1.5;
  font-weight: bold;
  padding-top: 1rem;
  color: #a77b00;
  text-align: center;
}

@media screen and (max-width: 530px) {
  .worrie__subtitle {
    font-size: min(5.58vw, 2.4rem);
  }
}

.worrie__cont {
  margin-top: clamp(20px, 6.6666666667vw, 50px);
}

.worrie__flex {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: clamp(20px, 6.6666666667vw, 50px);
}

.worrie__flex-box {
  width: 25%;
}

.worrie__flex-img {
  width: 100%;
  text-align: center;
}

.worrie__flex-text {
  font-size: 1.6rem;
  font-weight: bold;
  width: 90%;
  margin: 2rem auto;
  line-height: 1.5;
  box-shadow: 4px 4px 3px rgba(0, 0, 0, 0.2);
  padding: 1.5rem 2rem;
  text-align: center;
  text-shadow: 1px 4px rgba(190, 0, 0, 0.1);
  color: red;
}

@media screen and (max-width: 530px) {
  .worrie {
    margin-top: 100px;
  }

  .worrie__flex {
    display: block;
  }

  .worrie__flex-box {
    width: 80%;
  }

  .worrie__flex-box:nth-child(2) {
    margin: 2rem 0 2rem auto;
  }

  .worrie__flex-box:nth-child(2) .worrie__flex-img {
    margin: 0 0 0 auto;
  }

  .worrie__flex-img {
    width: 70%;
  }

  .worrie__flex-text {
    font-size: 1.5rem;
    width: 85%;
    margin: 0;
  }
}

/* -------------------------------------
	bunner
--------------------------------------*/

.bunner {
  margin-top: 100px;
  margin-top: 0px;
}

.bunner__inner {
  width: 100%;
  padding: 0 7.5%;
  margin: auto;
  box-sizing: border-box;
  max-width: calc(119rem + 15%);
}

@media screen and (max-width: 960px) {
  .bunner__inner {
    padding: 0 5%;
  }
}

.bunner__cont {
  width: 80%;
  margin: 14rem auto 0;
}

.bunner__imgbox {
  display: block;
  width: 100%;
  transition: all 0.5ms;
}

.bunner__imgbox:hover {
  opacity: 0.6;
}

.bunner__imgbox:active {
  transform: translate(1em, 1em);
  box-shadow: 0 0 0 0 rgba(0, 0, 0, 0.2);
}

@media screen and (max-width: 530px) {
  .bunner__cont {
    width: 90%;
    margin: 7rem auto 0;
  }
}

/* -------------------------------------
	about
--------------------------------------*/

.about {
  margin-top: clamp(70px, 20vw, 150px);
}

.about__background {
  background-color: #FCF7E9;
  padding: clamp(50px, 13.3333333333vw, 100px) 0;
}

.about__background--top {
  vertical-align: bottom;
}

.about__background--bottom {
  vertical-align: bottom;
}

.about__title {
  font-size: clamp(3.4rem, 4.8vw, 4.8rem);
  line-height: 1.5;
  font-weight: 900;
  position: relative;
  font-family: source-sans-pro, "arial black";
  text-align: center;
}

@media screen and (max-width: 530px) {
  .about__title {
    font-size: min(8.37vw, 3.6rem);
  }
}

.about__title::before {
  content: "";
  position: absolute;
  bottom: 0;
  left: 50%;
  width: 260px;
  border-bottom: 3px solid #a77b00;
  transform: translate(-50%);
}

.about__subtitle {
  font-size: clamp(2.3rem, 3.2vw, 3.2rem);
  line-height: 1.5;
  font-weight: bold;
  padding-top: 1rem;
  color: #a77b00;
  text-align: center;
}

@media screen and (max-width: 530px) {
  .about__subtitle {
    font-size: min(5.58vw, 2.4rem);
  }
}

.about__inner {
  width: 100%;
  padding: 0 7.5%;
  margin: auto;
  box-sizing: border-box;
  max-width: calc(119rem + 15%);
}

@media screen and (max-width: 960px) {
  .about__inner {
    padding: 0 5%;
  }
}

.about__cont {
  width: 75%;
  margin: 0 auto;
}

.about__desc {
  font-size: clamp(1.43rem, 1.43vw, 2rem);
  line-height: 1.3;
  font-weight: bold;
  margin-top: clamp(20px, 6.6666666667vw, 50px);
  text-align: left;
}

@media screen and (max-width: 530px) {
  .about__desc {
    font-size: min(4.19vw, 1.8rem);
  }
}

.about__list {
  background: white;
  margin: clamp(50px, 13.3333333333vw, 100px) calc(25% - 50vw) 0;
  width: 100vw;
  padding: 5% 0 5% 50%;
}

.about__item {
  display: flex;
  gap: clamp(30px, 6.6666666667vw, 50px);
  padding: clamp(10px, 4vw, 30px);
}

.about__item--reverse {
  flex-direction: row-reverse;
}

.about__item:not(:first-child) {
  margin-top: clamp(30px, 9.3333333333vw, 70px);
}

.about__gif {
  flex: 1;
}

.about__info {
  flex: 1.5;
}

.about__info-ttl {
  font-size: clamp(2.3rem, 3.2vw, 3.2rem);
  line-height: 1.5;
  font-weight: bold;
  display: flex;
  align-items: center;
}

@media screen and (max-width: 530px) {
  .about__info-ttl {
    font-size: min(5.58vw, 2.4rem);
  }
}

.about__info-ttl span {
  font-size: clamp(3.8rem, 5.4vw, 5.4rem);
  line-height: 1.5;
  font-weight: 900;
  color: rgba(189, 156, 64, 0.8);
  margin-right: clamp(20px, 4vw, 30px);
  text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.1);
}

@media screen and (max-width: 530px) {
  .about__info-ttl span {
    font-size: min(9.3vw, 4rem);
  }
}

.about__info-ttl span::after {
  content: "";
  display: inline-block;
  width: 5px;
  height: max(3.85vw, 4rem);
  background-color: rgba(189, 156, 64, 0.8);
  margin-left: 2rem;
  vertical-align: sub;
}

.about__info-desc {
  font-size: clamp(1.2rem, 1.6vw, 1.6rem);
  line-height: 1.3;
  margin-top: clamp(30px, 6.6666666667vw, 50px);
}

@media screen and (max-width: 530px) {
  .about__info-desc {
    font-size: min(3.26vw, 1.4rem);
  }
}

@media screen and (max-width: 530px) {
  .about {
    margin-top: min(11.63vw, 5rem);
  }

  .about__background {
    padding: 5rem 0;
  }

  .about__desc {
    font-size: 1.6rem;
  }

  .about__cont {
    width: 100%;
  }

  .about__list {
    background: white;
    margin: min(11.63vw, 5rem);
    width: 100%;
    padding: 0%;
  }

  .about__item {
    padding: 2rem;
    display: block;
  }
}

/* -------------------------------------
	contact
--------------------------------------*/

.contact {
  margin-top: clamp(50px, 13.3333333333vw, 100px);
}

.contact__title {
  font-size: clamp(3.4rem, 4.8vw, 4.8rem);
  line-height: 1.5;
  font-weight: 900;
  position: relative;
  font-family: source-sans-pro, "arial black";
  text-align: center;
}

@media screen and (max-width: 530px) {
  .contact__title {
    font-size: min(8.37vw, 3.6rem);
  }
}

.contact__title::before {
  content: "";
  position: absolute;
  bottom: 0;
  left: 50%;
  width: 260px;
  border-bottom: 3px solid #a77b00;
  transform: translate(-50%);
}

.contact__subtitle {
  font-size: clamp(2.3rem, 3.2vw, 3.2rem);
  line-height: 1.5;
  font-weight: bold;
  padding-top: 1rem;
  color: #a77b00;
  text-align: center;
}

@media screen and (max-width: 530px) {
  .contact__subtitle {
    font-size: min(5.58vw, 2.4rem);
  }
}

.contact__inner {
  width: 100%;
  padding: 0 7.5%;
  margin: auto;
  box-sizing: border-box;
  max-width: calc(119rem + 15%);
}

@media screen and (max-width: 960px) {
  .contact__inner {
    padding: 0 5%;
  }
}

.contact__cont {
  width: 75%;
  margin: 0 auto;
}

.contact__desc {
  margin-top: clamp(20px, 6.6666666667vw, 50px);
  text-align: left;
  font-size: clamp(1.43rem, 1.43vw, 2rem);
  line-height: 1.3;
  font-weight: bold;
}

@media screen and (max-width: 530px) {
  .contact__desc {
    font-size: min(4.19vw, 1.8rem);
  }
}

@media screen and (max-width: 530px) {
  .contact__cont {
    width: 90%;
  }
}

