/* --------------
   button 
----------------*/

  .button {
    text-align: center;
    position: relative;
    border: 3px solid #a77b00;
    background-color: #FCF7E9;
    width: 50%;
    margin: calculation(5, 3) auto 0;
    display: flex;
    justify-content: center;
    align-items: center;
    height: calculation(8, 5);

    &:hover {
      opacity: 0.8;
    }

    &__link {
      @include font-size("18");

      font-family: source-sans-pro, sans-serif;
      color: #a77b00;  
      display: block;
      position: absolute;
      text-align: center;
      width: 100%;

      &:hover{
        color: #a77b00;      
      }
      &:visited{
        color: #a77b00;
      }

    }

    &__img {
      max-width: 40px;
      width: 15%;
      padding-top: 5px;
      margin-left: 8%;
    }
  }

@include responsive("sp") {
  .button {    
   }
}