/* -------------------------------------
	mixin
--------------------------------------*/
@use '../mixins' as *;


/* -------------------------------------
	footer
--------------------------------------*/

.footer {
  position: relative;
  z-index: 1;
  width: 100%;
  // background-color: #f5f7fa;
  // height: 70px;
  display: flex;
  @include padding-bottom(30);
  border-top: 1px solid rgba(0, 0, 0, 0.3);

  &__inner {
    @include inner;
  }

  &__nav {
    width: 80%;
    padding-top: 15px;
    margin: 0 auto;
    padding-bottom: calculation(4, 2);
  }

  &__nav-list {
    width: 100%;
    display: flex;
    align-items: center;
  }

  &__nav-item {
    flex: 1;
    text-align: center;
  }

  &__nav-link {
    @include font-size(12);
    color: black;
    padding: 10px;
    letter-spacing: 3px;
    text-align: center;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 10px;
  }

  &__copyright {
    color: black;
    letter-spacing: 3px;
    text-align: center;
    margin-top: 20px;
    @include font-size(12);
  }
}

/*
レスポンシブ--------------------------- */

@include responsive('sp') {
  .footer {
    &__inner {
      padding: 0;
    }

    &__nav {
      width: 90%;
      padding-bottom: 0px;
      border: none;
    }

    &__list {
      width: 100%;
      display: block;
    }

    &__nav-item {
      list-style-type: none;
      width: 100%;
      overflow: hidden;
    }

    &__nav-link {
      display: inline-block;
      color: black;
      padding: 3% 0;
      width: 100%;
      text-align: center;

      span {
        display: inline;
        float: right;
        padding-right: 10px;
      }
      img {
        width: 50%;
      }
    }
    &__copyright {
      width: 100%;
      text-align: center;
      letter-spacing: 0px;
    }
  }
}
