/* -------------------------------------
	mixin
--------------------------------------*/
@use "../mixin/font-size" as *;

/* -------------------------------------
	pagination
--------------------------------------*/ 
.pagination{
    list-style: none;
    display: flex;
    justify-content: center;
    padding: 5px;
    @include font-size(12);
    li{
        margin: 5px;
        border: 2px solid #333;
      }

    a{
    display: block;
    text-decoration: none;
    color: #333;
    padding: 5px min(2vw, 20px);

    &:hover{
        background-color: #333;
        color: aliceblue;
      }
    }
  }
  
  .navi-active{
    background-color: #333;

    a{
        color: aliceblue;
      }
  }

  .pagination-container{
    margin-top: calculation(10,5);
    padding-bottom: calculation(4,2);
  }

  @media screen and (max-width: 530px) {
    .pagination-container a{
      // font-size: 10px;
      padding: 5px min(3.49vw, 15px);
    }

  }