/* -------------------------------------
	mixin
--------------------------------------*/

/* -------------------------------------
	event_show
--------------------------------------*/

.event_show {
  background-color: #f5f7fa;
  padding: min(7vw, 7rem) 0;
}

.event_show__inner {
  width: 100%;
  padding: 0 7.5%;
  margin: auto;
  box-sizing: border-box;
  max-width: calc(119rem + 15%);
}

@media screen and (max-width: 960px) {
  .event_show__inner {
    padding: 0 5%;
  }
}

.event_show__cont {
  width: min(80%, 75rem);
  margin: 0 auto;
}

.event_show__info-tit {
  font-size: clamp(1.7rem, 2.4vw, 2.4rem);
  line-height: 1.3;
  font-weight: bold;
  line-height: 1.5;
  font-weight: bold;
  display: flex;
  justify-content: center;
}

@media screen and (max-width: 530px) {
  .event_show__info-tit {
    font-size: min(4.65vw, 2rem);
  }
}

.event_show__info-cd {
  padding-top: 0.5em;
  font-size: clamp(1rem, 1.4vw, 1.4rem);
  line-height: 1.3;
  text-align: right;
  font-weight: bold;
}

@media screen and (max-width: 530px) {
  .event_show__info-cd {
    font-size: min(2.79vw, 1.2rem);
  }
}

.event_show__info-pic {
  position: relative;
  margin-top: min(4vw, 4rem);
}

.event_show__info-pic::before {
  content: "";
  display: block;
  padding-top: 50%;
}

.event_show__info-img {
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  margin: auto;
  -o-object-fit: contain;
     object-fit: contain;
}

.event_show__info-table {
  margin-top: min(4vw, 4rem);
  width: 100%;
}

.event_show__info-table tr {
  border-bottom: 1px solid #707070;
}

.event_show__info-table tr:first-child {
  border-top: 1px solid #707070;
}

.event_show__info-table th {
  width: 18.5%;
  text-align: left;
  border-bottom: 3px solid #396eb4;
  font-size: clamp(1rem, 1.4vw, 1.4rem);
  line-height: 1.3;
  line-height: 1.5;
  font-weight: Bold;
  color: #396eb4;
  background: #fff;
  text-align: center;
  vertical-align: middle;
}

@media screen and (max-width: 530px) {
  .event_show__info-table th {
    font-size: min(2.79vw, 1.2rem);
  }
}

.event_show__info-table th:first-child {
  border-top: 3px solid #396eb4;
}

.event_show__info-table td {
  padding: min(2vw, 2rem) min(2vw, 2rem) min(2vw, 2em) min(3vw, 3rem);
  font-size: clamp(1.2rem, 1.6vw, 1.6rem);
  line-height: 1.3;
  line-height: 1.5;
  min-height: 4em;
  display: flex;
  flex-direction: column;
  justify-content: center;
  background: #fff;
}

@media screen and (max-width: 530px) {
  .event_show__info-table td {
    font-size: min(3.26vw, 1.4rem);
  }
}

.event_show__info-table td a {
  color: #396eb4;
}

.event_show__btn {
  position: relative;
  display: inline-block;
  padding: 0.5em 0;
  margin: min(5vw, 5rem) auto 0;
  text-decoration: none;
  color: #fff;
  background: #396eb4;
  border-bottom: solid 2px #396eb4;
  border-radius: 4px;
  box-shadow: inset 0 2px 0 rgba(255, 255, 255, 0.2), 0 2px 2px rgba(0, 0, 0, 0.19);
  font-size: clamp(1.3rem, 1.8vw, 1.8rem);
  line-height: 1.3;
  font-weight: 500;
  font-weight: bold;
  width: 30%;
  text-align: center;
  display: block;
}

@media screen and (max-width: 530px) {
  .event_show__btn {
    font-size: min(3.72vw, 1.6rem);
  }
}

.event_show__btn:hover {
  color: white;
}

.event_show__btn:active {
  border-bottom: solid 2px #396eb4;
  box-shadow: 0 0 2px rgba(0, 0, 0, 0.3);
}

@media screen and (max-width: 530px) {
  .event_show {
    padding: min(11.63vw, 5rem) 0;
  }

  .event_show__cont {
    width: 100%;
  }

  .event_show__info-pic {
    margin-top: min(6.98vw, 3rem);
  }

  .event_show__info-table {
    margin-top: min(6.98vw, 3rem);
  }

  .event_show__info-table th:first-child {
    border-top: 1px solid #396eb4;
  }

  .event_show__info-table th {
    width: 100%;
    border-bottom: 2px solid #396eb4;
    padding: min(2.33vw, 1rem);
    display: block;
  }

  .event_show__info-table td {
    padding: min(4.6vw, 2rem);
  }

  .event_show__btn {
    margin: min(9.3vw, 4rem) auto 0;
    width: 50%;
  }
}

