/* -------------------------------------
	mixin
--------------------------------------*/
@use '../../mixins' as *;

/* -------------------------------------
	food
--------------------------------------*/
.food {
  width: 100%;
  background-color: #f5f7fa;
  @include padding-bottom(70);

  &__page_header {
    position: relative;
    width: 100%;
    background-size: cover;
    background-position: center;
    height: min(28.12vw, 300px);
    display: flex;
    justify-content: center;
    align-items: center;
    background-repeat: no-repeat;
    flex-direction: column;
    background-image: url(@images/dogfood_header.jpg);
  }

  &__page_title {
    padding-top: min(3.57vw, 50px);
    @include font-size(48);
    color: #fff;
    text-shadow: 0 3px 4px rgba(34, 32, 32, 0.9);
    display: flex;
    align-items: center;
  }

  &__page_exp {
    @include font-size(16);
    color: #fff;
    text-shadow: 0 3px 4px rgba(34, 32, 32, 0.9);
  }

  &__header {
    height: 40px;
    font-size: 12px;
    background: #cfcfcf;
    display: flex;
    align-items: center;
    padding-left: 15px;
  }

  &__inner {
    @include inner;
  }

  &__content {
    width: 90%;
    margin: auto;
    @include margin-top(50);
    @include padding-bottom(70);
  }

  &__loader {
    display: none; /* 初期状態では非表示 */
    text-align: center;
    @include font-size(18);
    color: #fff;
    padding: min(7vw, 70px) min(5vw, 50px);
    background-color: rgba(0, 0, 0, 0.8);
    border: 3px solid #ccc;
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    z-index: 9999;
  }

  &__content_amazon {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    @include gap(30);

    position: relative;
    @include padding-top(150);

    &::before {
      content: '';
      width: auto;
      height: clamp(20px, 8vw, 80px);
      background: url(@images/amazon.png) no-repeat;
      background-size: contain;
      background-position: center;
      display: block;
      position: absolute;
      top: 0;
      left: 0;
      right: 0;
      margin: 0 auto;
    }
  }
  &__store {
    // min-height: 30em;
    border-bottom: 1px solid rgba(0, 0, 0, 0.2);
    @include padding-top(50);
    @include padding-bottom(50);
    @include padding-left(20);
    @include padding-right(20);
    position: relative;
  }

  &__store_wrap {
    position: absolute;
    top: 10px;
    left: 0;
  }

  &__store_count {
    position: relative;
    @include padding-top(10);
    @include padding-bottom(10);
    @include padding-left(15);
    @include padding-right(15);
    @include font-size(14);
    background-color: rgb(196, 85, 0);
    border-radius: 10px;

    span {
      color: #fff;
      font-weight: 700;
    }
  }

  &__store:nth-child(1) .food__store_count::before,
  &__store:nth-child(2) .food__store_count::before,
  &__store:nth-child(3) .food__store_count::before {
    content: '\f521';
    font-family: 'Font Awesome 5 Free';
    font-weight: 900;
    color: #fff;
    font-size: 2.2em;
    position: absolute;
    z-index: -1;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    margin: auto;
    width: 70%;
  }
  &__store:nth-child(1) .food__store_count {
    background: linear-gradient(70deg, #d0a900, #fff9e6, #d0a900);

    span {
      color: #262626;
      font-weight: 900;
      font-size: 1.3em;
    }
  }
  &__store:nth-child(2) .food__store_count {
    background: linear-gradient(70deg, #c0c0c0, #fff9e6, #c0c0c0);

    span {
      color: #262626;
      font-weight: 900;
      font-size: 1.3em;
    }
  }
  &__store:nth-child(3) .food__store_count {
    background: linear-gradient(70deg, #9a6229, #fff9e6, #9a6229);

    span {
      color: #262626;
      font-weight: 900;
      font-size: 1.3em;
    }
  }

  &__store_link {
    display: flex;
    flex-direction: column;
    align-items: center;
    @include gap(30);
    height: 100%;
  }

  &__store_pic {
    width: min(80%, 200px);
    position: relative;

    &::before {
      content: '';
      display: block;
      padding-top: 100%;
    }
    img {
      position: absolute;
      width: 100%;
      height: 100%;
      top: 0;
      right: 0;
      bottom: 0;
      left: 0;
      margin: auto;
      object-fit: contain;
    }
  }

  &__store_content {
    margin-top: 8px;
    display: flex;
    flex-direction: column;
    gap: 10px;
    flex: 1;
    @include font-size(16);
    line-height: 1.5;
    color: #000;
  }
  &__store_title {
    color: #000;
    @include font-size(18);
    line-height: 1.5;
    font-weight: 700;
    transition: color 0.2s ease;
  }

  &__store_price {
    @include font-size(16);
    line-height: 1.5;
    color: #000;
    font-weight: bold;
    text-align: right;
    margin-top: auto;
    margin-bottom: 0;
    border-top: 1px solid black;
    padding-top: 10px;

    span {
      @include font-size(20);
      color: #ff0000;
      display: inline-block;
    }
  }

  &__nostore {
    margin-top: min(3vw, 30px);
  }

  &__back-button {
    @include btn('back');
  }
}

@include responsive('tb') {
  .food {
    &__content_amazon {
      grid-template-columns: repeat(2, 1fr);
    }

    &__store_price {
      @include font-size(20);
    }
  }
}

@include responsive('sp') {
  .food {
    padding-bottom: min(11.63vw, 50px);

    &__content {
      width: 100%;
    }
    &__content_flex {
      display: block;
    }
    &__content_amazon::before {
      content: '';
      height: min(10vw, 40px);
      @include margin-bottom(20);
      top: 15px;
    }

    &__store {
      // min-height: auto;
    }

    &__nostore {
      margin-top: min(6.98vw, 30px);
    }
    &__back-button {
      margin-top: min(11.63vw, 50px);
    }
  }
}
