@charset "UTF-8";
/* -------------------------------------
	mixin
--------------------------------------*/

@import "../../mixin/responsive";
@import "../../mixin/inner";
@import "../../mixin/font-size";

/*------------------------------------
    place
--------------------------------------- */
.place {
    padding-bottom: min(8vw, 8rem);

    &__page_header {
        position: relative;
        width: 100%;
        background-size: cover;
        background-position: center;
        height: min(28.12vw, 30rem);
        display: flex;
        justify-content: center;
        align-items: center;
        background-repeat: no-repeat;
        flex-direction: column;
        background-image: url(./../images/dogrun_header.jpg);
    }
    &__page_title {
        padding-top: min(3.57vw, 5rem);
        @include font-size("48");
        color: #fff;
        text-shadow: 0 3px 4px rgba(34, 32, 32, 0.9);
        display: flex;
        align-items: center;
    }
    &__page_exp {
        @include font-size("16");
        color: #fff;
        text-shadow: 0 3px 4px rgba(34, 32, 32, 0.9);
    }
    &__inner {
        @include inner;
        margin: 0 auto;
        width: 80%;
    }
    &__cont {
        margin-top: min(5vw, 5rem);
    }
    &__area-filter-title {
        @include font-size("24");
        margin-bottom: min(2vw, 2rem);
        font-weight: 700;
    }
    &__search-btn {
        transition: opacity 0.2s ease;
        border-radius: 4px;
        margin-bottom: 16px;
        display: flex;
        justify-content: center;
        align-items: center;
        -webkit-user-select: none;
        -moz-user-select: none;
        -ms-user-select: none;
        user-select: none;
        overflow: hidden;
        font-weight: 700;
        height: 40px;
        background-color: #fff;
        border: 2px solid #ad2724;
        color: #bc0d19;
        width: 30%;
    }
    &__area-list {
        flex: 1;
        display: grid;
        grid-template-columns: repeat(auto-fill, minmax(120px, 1fr));
        grid-gap: 1rem;
    }
    &__area-btn {
        border: 2px solid rgba(0, 0, 0, 0.8);

        transition: opacity 0.2s ease;
        color: #fff;
        background-size: cover;
        background-position: center;
        background-repeat: no-repeat;
        border-radius: 4px;
        overflow: hidden;
        cursor: pointer;
        position: relative;

        &--flex {
            display: flex;
            gap: 2rem;
        }
        &--big {
            background-image: url(./../../images/area/all.jpg);
            width: 18rem;
            border: 2px solid rgba(3, 40, 255, 0.8);
        }

        &--all {
            background-image: url(./../../images/area/all.jpg);
            border: 2px solid rgba(3, 40, 255, 0.8);
            display: none;
        }
        &--yamaguchi {
            background-image: url(./../../images/area/yamaguchi.jpg);
        }
        &--shimonoseki {
            background-image: url(./../../images/area/shimonoseki.jpg);
        }
        &--houhu {
            background-image: url(./../../images/area/houhu.jpg);
        }
        &--hagi {
            background-image: url(./../../images/area/hagi.jpg);
        }
        &--syuunan {
            background-image: url(./../../images/area/syuunan.jpg);
        }
        &--ubeonoda {
            background-image: url(./../../images/area/ube.jpg);
        }
        &--iwakunihikari {
            background-image: url(./../../images/area/iwakuni.jpg);
        }

        a {
            color: #fff;
            justify-content: center;
            text-align: center;
            display: flex;
            align-items: center;
            padding: 3rem 0;
            background: rgba(0, 0, 0, 0.3);
            height: 100%;
            // font-size: 1.2rem;
            @include font-size("14");
            line-height: 1.5;
        }

        &:hover {
            color: #fff;
        }
    }
    &__filter-checkbox {
        @include font-size("16");
        width: 100%;
        margin-top: min(6vw, 6rem);
        border-top: 1px solid rgba(0, 0, 0, 0.2);
    }
    &__search-key-word {
        margin-top: min(4vw, 4rem);
    }
    &__title-key-word {
        @include font-size("24");
        margin-bottom: min(1.6vw, 1.6rem);
        letter-spacing: 0.2px;
        opacity: 1;
    }
    &__input-key-word input {
        width: 100%;
        height: 4rem;
        background: #fff no-repeat padding-box;
        border-radius: 4px;
        opacity: 1;
        padding: 14px 0 14px 12px;
        border: 1px solid #7f7f7f;
    }

    &__checkbox-services {
        margin-top: min(4vw, 4rem);
    }
    &__title-key-word {
        margin-bottom: min(3vw, 3rem);
        font-weight: 700;
    }

    &__my-checkbox {
        display: inline-block;
        position: relative;
        margin: 1em 0;
        padding: 3px 2.8rem 0;
        cursor: pointer;
        user-select: none;
    }
    &__my-checkbox input {
        display: none;

        &:checked + .place__checkmark {
            background: #2e80ff; /* チェック時の色 */
            border-color: #2e80ff; /* チェック時の色 */
        }
        &:checked + .place__checkmark:after {
            opacity: 1; /* 透明を解除 */
        }
    }
    &__checkmark {
        position: absolute;
        top: 0;
        left: 0;
        height: 22px;
        width: 22px;
        border: solid 2px #d4dae2;
        border-radius: 4px;
        box-sizing: border-box;

        &::after {
            content: "";
            position: absolute;
            left: 7px;
            top: 3px;
            width: 6px;
            height: 10px;
            border: solid #fff;
            border-width: 0 2px 2px 0;
            transform: rotate(45deg);
            opacity: 0;
        }
    }
    &__button-filter {
        margin-top: min(5vw, 5rem);
        flex-wrap: wrap;
        width: 100%;
        justify-content: center;
        display: flex;
        gap: min(4.65vw, 2rem);
    }
    &__button-filter-clear {
        color: #000;
        background: #eee;
        border-radius: 4px;
        cursor: pointer;
        -webkit-user-select: none;
        -moz-user-select: none;
        -ms-user-select: none;
        user-select: none;
        transition: opacity 0.2s ease;
        text-align: center;
        display: flex;
        justify-content: center;
        align-items: center;
        padding: min(2.33vw, 1rem) min(4vw, 4rem);
        @include font-size("14");
        font-weight: 700;
    }
    &__button-search {
        color: #fff;
        background: #bc0d19;
        border-radius: 4px;
        cursor: pointer;
        -webkit-user-select: none;
        -moz-user-select: none;
        -ms-user-select: none;
        user-select: none;
        transition: opacity 0.2s ease;
        text-align: center;
        display: flex;
        justify-content: center;
        align-items: center;
        padding: min(2.33vw, 1rem) min(4vw, 4rem);
        @include font-size("14");
        font-weight: 700;
    }
}

@include responsive("tb") {
    .place {
        &__area-btn {
            &--flex {
                gap: 2rem;
            }
            &--big {
                display: none;
            }

            &--all {
                display: block;
            }
        }
    }
}
@include responsive("sp") {
    .place {
        padding-bottom: min(11.63vw, 5rem);

        &__page_header {
            height: min(34.88vw, 15rem);
        }
        &__inner {
            width: 100%;
        }
        &__cont {
            margin-top: min(9.3vw, 4rem);
        }
        &__area-filter-title {
            margin-bottom: min(4.65vw, 2rem);
        }
        &__button-filter {
            margin-top: min(9.3vw, 4rem);
        }
        &__filter-checkbox {
            margin-top: min(10.47vw, 4.5rem);
        }
        &__search-key-word {
            margin-top: min(6.98vw, 3rem);
        }
        &__title-key-word {
            margin-bottom: min(4.65vw, 2rem);
        }
        &__checkbox-services {
            margin-top: min(6.98vw, 3rem);
        }
        &__search-btn {
            width: 100%;
        }
    }
}

/* -----------------------------
    result 
 -----------------------------*/
.result {
    padding-bottom: min(3.57vw, 5rem);

    &__page_header {
        position: relative;
        width: 100%;
        background-size: cover;
        background-position: center;
        height: min(28.12vw, 30rem);
        display: flex;
        justify-content: center;
        align-items: center;
        background-repeat: no-repeat;
        flex-direction: column;
        background-image: url(./../images/dogfood_header.jpg);
    }
    &__page_header h3.result__page-title {
        padding-top: min(3.57vw, 5rem);
        @include font-size("48");
        color: #fff;
        text-shadow: 0 3px 4px rgba(34, 32, 32, 0.9);
        display: flex;
        align-items: center;
    }

    div.result__page-title {
        color: #434343;
        @include font-size("24");
        font-weight: 700;
        margin: min(4vw, 4rem) auto min(4vw, 4rem);
        width: 100%;
        text-align: center;
    }

    &__page_exp {
        @include font-size("16");
        color: #fff;
        text-shadow: 0 3px 4px rgba(34, 32, 32, 0.9);
    }

    &__header {
        height: 4rem;
        font-size: 1.2rem;
        background: #cfcfcf;
        display: flex;
        align-items: center;
        padding-left: 1.5rem;
    }

    &__content {
        overflow: auto;
        width: 75%;
        margin: min(7vw, 5rem) auto 0;
        padding-bottom: min(7vw, 7rem);
    }

    &__loader {
        display: none; /* 初期状態では非表示 */
        text-align: center;
        @include font-size("18");
        color: #fff;
        padding: min(7vw, 7rem) min(5vw, 5rem);
        background-color: rgba(0, 0, 0, 0.8);
        border: 3px solid #ccc;
        position: fixed;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
        z-index: 9999;
    }

    &__content_flex {
        display: flex;
        gap: min(2vw, 2rem);

        > div {
            flex: 1;

            div:nth-child(2) {
                margin-top: min(2vw, 2rem);
            }
        }
    }

    &__content_amazon::before {
        content: "";
        width: min(12vw, 12rem);
        height: min(5vw, 5rem);
        background: url(./../images/amazon.png) no-repeat;
        background-size: contain;
        background-position: center;
        display: block;
        margin-bottom: min(2vw, 2rem);
    }

    &__content_amazon {
        .store {
            min-height: 30em;
        }
    }

    &__content_yahoo::before {
        content: "";
        width: min(16vw, 16rem);
        height: min(5rem, 5rem);
        background: url(./../images/yahoo.png) no-repeat;
        background-size: contain;
        background-position: center;
        display: block;
        margin-bottom: min(2vw, 2rem);
    }

    &__content_yahoo {
        .store {
            min-height: 30em;
        }
    }

    &__nostore {
        margin-top: min(3vw, 3rem);
    }

    &__store-button {
        margin-top: min(5vw, 5rem);
        text-align: center;

        a {
            color: white;
            border: 1px solid black;
            padding: 1rem min(5vw, 5rem);
            border-radius: 5px;
            background: black;
            font-weight: 700;
            display: inline-block;
            @include font-size("14");
        }
    }
}
@include responsive("sp") {
    .result {
        padding-bottom: min(11.63vw, 5rem);

        &__content {
            width: 90%;
        }

        &__content_flex {
            display: block;
        }

        &__content_amazon::before {
            content: "";
            width: auto;
            height: min(7.69vw, 4rem);
            margin-bottom: min(3.85vw, 2rem);
        }

        &__content_yahoo::before {
            content: "";
            width: auto;
            height: min(11.54vw, 6rem);
            margin: min(7.69vw, 4rem) 0 min(3.85vw, 2rem);
        }

        &__content_amazon {
            .store {
                min-height: 15em;
            }
        }

        &__content_yahoo {
            .store {
                min-height: 15em;
            }
        }
        &__nostore {
            margin-top: min(6.98vw, 3rem);
        }
        &__store-button {
            margin-top: min(11.63vw, 5rem);
        }
    }
}

/* --------------------------------------
    store 
 ---------------------------------------*/
.store {
    border-bottom: 1px solid rgba(0, 0, 0, 0.2);
    padding: min(3.57vw, 5rem) min(1.43vw, 2rem);
    position: relative;

    &__count {
        position: absolute;
        top: 1rem;
        left: 0;
        padding: min(1.5vw, 1rem) min(2vw, 1.5rem);
        @include font-size("14");
        color: #fff;
        background-color: rgb(196, 85, 0);
        border-radius: 10px;
    }

    &__link {
        display: flex;
        align-items: center;
        gap: min(3.57vw, 5rem);
    }

    &__pic {
        width: min(14.28vw, 20rem);
        position: relative;

        &::before {
            content: "";
            display: block;
            padding-top: 100%;
        }
        img {
            position: absolute;
            width: 100%;
            height: 100%;
            top: 0;
            right: 0;
            bottom: 0;
            left: 0;
            margin: auto;
            object-fit: contain;
        }
    }

    &__content {
        margin-top: 0.8rem;
        display: flex;
        flex-direction: column;
        flex: 1;
        @include font-size("16");
        line-height: 1.5;
        color: #000;
    }
    &__name {
        color: #000;
        @include font-size("18");
        line-height: 1.5;
        font-weight: 700;
        transition: color 0.2s ease;
        border-bottom: 1px solid black;
        margin-bottom: 1rem;
        padding-bottom: 0.5rem;
    }
    &__flex {
        display: flex;
        gap: min(3.57vw, 5rem);
        margin-top: min(2.14vw, 3rem);
    }
    &__btn-flex {
        display: flex;
        gap: 1rem;
    }

    &__phone {
        @include font-size("14");
        padding: 0.5rem 0;
        background: #6b64a2;
        display: block;
        border-radius: 9999px;
        width: 7.5rem;
        text-align: center;
        color: #fff;

        &:hover {
            color: #fff;
        }
    }

    &__review {
        @include font-size("14");
        padding: 0.5rem 0;
        background: #4bb582;
        display: block;
        border-radius: 9999px;
        width: 7.5rem;
        text-align: center;
        color: #fff;

        &:hover {
            color: #fff;
        }
    }

    &__rating-star {
        align-items: center;
        display: flex;

        i {
            color: #ccc;
            cursor: pointer;
            font-size: min(3.3vw, 2.4rem);
            padding: 0 0.4em;
            position: relative;
            transition: color 0.3s;
        }
    }
}

@include responsive("sp") {
    .store {
        font-size: min(3.73vw, 1.4rem);
        padding: min(6.98vw, 3rem) min(4.65vw, 2rem);

        &__link {
            flex-direction: column;
            gap: min(4.65vw, 2rem);
            align-items: unset;
        }
        &__pic {
            width: 50%;
            margin: auto;

            &::before {
                padding-top: 60%;
            }
        }
        &__flex {
            flex-direction: column-reverse;
            margin-top: min(4.65vw, 2rem);
            gap: min(4.65vw, 2rem);
        }

        &__rating-star {
            i {
                font-size: min(5.81vw, 2.5rem);
                padding: 0 1rem;
            }
            :first-child {
                padding-left: 0;
            }
        }
    }
}
