@charset "UTF-8";

/* -------------------------------------
  mixin
--------------------------------------*/

@import "../../../mixin/responsive";
@import "../../../mixin/inner";
@import "../../../mixin/font-size";
@import "../../../mixin/floating";

/* -------------------------------------
  setting
--------------------------------------*/

.setting {
    background-color: #f5f7fa;
    padding-bottom: min(5vw, 5rem);
    &__inner {
        @include inner;
    }
    &__title {
        padding-top: min(5vw, 5rem);
        @include font-size("48");
        font-weight: 900;
    }
    &__cards {
        padding-top: min(3vw, 3rem);
        @include font-size("16");
    }
    &__card {
        padding: min(2vw, 2rem);
        background: white;
    }
    &__card:nth-child(n + 2) {
        margin-top: min(5vw, 5rem);
    }
    &__card-header {
        @include font-size("20");
        font-weight: bold;
    }
    &__card-body {
        margin-top: min(3vw, 3rem);
    }
    &__card-commands {
        display: flex;
        gap: 1rem;
        margin-top: min(2vw, 2rem);
        flex-wrap: wrap;

        a {
            @include font-size("14");
        }
    }
    &__card-table {
        margin: min(2vw, 2rem) 0;
        line-height: 2;
        border-bottom: 0.1rem solid #dee2e6;
        @include font-size("16");

        th {
            vertical-align: middle;
            padding: 1rem;
            width: 30%;
            padding: min(2vw, 2rem) min(0.75vw, 0.75rem);
        }
        td {
            vertical-align: middle !important;
            padding: min(2vw, 2rem) min(1vw, 1rem);

            &.setting__card-td-height {
                width: 100%;
                min-height: 10em;
                display: flex;
                align-items: center;
                white-space: pre-wrap;
            }
        }
    }
    &__card-pic {
        position: relative;
        overflow: hidden;
    }
    &__card-pic::before {
        content: "";
        display: block;
        padding-top: min(15vw, 15rem);
    }
    &__card-img {
        position: absolute;
        width: min(15vw, 15rem);
        height: 100%;
        top: 0;
        bottom: 0;
        left: 0;
        object-fit: contain;
        transition: 0.5s all;
        border-radius: 10px;
        filter: drop-shadow(0 3px 5px rgba(0, 0, 0, 0.4));

    }
    &__commands {
        display: flex;
        gap: 1rem;

        a {
            display: block;
            flex: 1;
            @include font-size("14");
        }
    }

    &__modal-dialog {
        height: calc(100vh - 3.5rem);
        display: flex;
        align-items: center;
    }
    &__modal-content {
        height: min(100%, 85vh);
        overflow: auto;
    }
    &__modal-header{
        justify-content: center;
        padding: 2%;
    }
    &__modal-tit {
        @include font-size("24");
    }
    &__modal-body {
        padding: 2em;
        display: flex;
        flex-direction: column;
        gap: min(2vw, 2rem);
        @include font-size("16");

        span {
            display: inline-block;
            background-color: cornflowerblue;
            color: #fff;
            padding: 1% 5%;
            margin-bottom: 1em;
        }
    }
    &__modal-pic {
        position: relative;

        &::before {
            content: "";
            display: block;
            padding-top: 50%;
        }

        img {
            position: absolute;
            width: 50%;
            height: auto;
            top: 0;
            right: 0;
            bottom: 0;
            left: 0;
            margin: auto;
            object-fit: cover;
        }
    }
    &__modal-footer{
        justify-content: center;
        padding: 2%;
    }
    &__modal-btn {
        @include font-size("16");
    }
}
@include responsive("sp") {
    .setting {
        padding-bottom: min(9.3vw, 4rem);

        &__title {
            padding-top: min(6.98vw, 3rem);
        }
        &__cards {
            padding-top: min(4.65vw, 2rem);
        }
        &__card {
            padding: min(3.49vw, 1.5rem);
            background: white;
        }
        &__card:nth-child(n + 2) {
            margin-top: min(4.65vw, 3rem);
        }
        &__card-table {
            margin: min(4.65vw, 2rem) 0;
            th {
                padding: min(4.65vw, 2rem) min(1.74vw, 0.75rem);
            }

            td {
                padding: min(4.65vw, 2rem) min(2.33vw, 1rem);
            }
        }
        &__card-table--profile {
            th {
                width: 40%;
            }
        }
        &__card-body {
            margin-top: min(2.67vw, 1rem);
        }
        &__card-commands {
            gap: min(2.67vw, 1rem);
            margin-top: min(4.65vw, 2rem);
        }
        &__card-pic::before {
            padding-top: 50%;
        }
        &__card-img {
            width: 50%;
        }
        &__commands {
            flex-direction: column;
            gap: 0;
            a {
                display: block;
                flex: 1;
            }
        }
    
        // &__modal-content {
        //     height: auto;
        // }
    }
}
