@charset "UTF-8";

/* -------------------------------------
	reset
--------------------------------------*/

/*
html5doctor.com Reset Stylesheet
v1.6.1
*/

html,
body,
div,
span,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
abbr,
address,
cite,
code,
del,
dfn,
em,
img,
ins,
kbd,
q,
samp,
small,
strong,
sub,
sup,
var,
b,
i,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
article,
aside,
canvas,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section,
summary,
time,
mark,
audio,
video {
  margin: 0;
  padding: 0;
  border: 0;
  outline: 0;
  font-size: 100%;
  vertical-align: baseline;
  background: transparent;
}

body {
  line-height: 1;
}

article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section {
  display: block;
}

nav ul {
  list-style: none;
}

blockquote,
q {
  quotes: none;
}

blockquote:before,
blockquote:after,
q:before,
q:after {
  content: "";
  content: none;
}

a {
  margin: 0;
  padding: 0;
  font-size: 100%;
  vertical-align: baseline;
  background: transparent;
  /* width: 335px; */
}

/* change colours to suit your needs */

ins {
  background-color: #ff9;
  color: #000;
  text-decoration: none;
}

/* change colours to suit your needs */

mark {
  background-color: #ff9;
  color: #000;
  font-style: italic;
  font-weight: bold;
}

del {
  text-decoration: line-through;
}

abbr[title],
dfn[title] {
  border-bottom: 1px dotted;
  cursor: help;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

/* change border colour to suit your needs */

hr {
  display: block;
  height: 1px;
  border: 0;
  border-top: 1px solid #cccccc;
  margin: 1em 0;
  padding: 0;
}

input,
select {
  vertical-align: middle;
}

/* clearfix */

.clearfix:before,
.clearfix:after {
  content: "";
  display: table;
}

.clearfix:after {
  clear: both;
}

.clearfix {
  *zoom: 1;
}

ul,
ol {
  list-style-type: none;
}

/* -------------------------------------
	mixin
--------------------------------------*/

/* -------------------------------------
	function
--------------------------------------*/

/* -------------------------------------
	common
--------------------------------------*/

* {
  margin: 0;
  padding: 0;
  outline: 0;
  box-sizing: border-box;
  z-index: 1;
}

*:before,
*:after {
  box-sizing: border-box;
  z-index: 1;
}

html {
  width: 100%;
  font-size: 62.5%;
}

body {
  width: 100%;
  box-sizing: border-box;
  margin: 0;
  font-family: "Noto Sans JP", sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  -ms-overflow-style: none;
  scrollbar-width: none;
}

a {
  text-decoration: none;
  color: #2d3133;
}

a:hover {
  text-decoration: none;
  color: #2d3133;
}

input:-webkit-autofill {
  /* 色はinput要素の背景色（ここでは##f4f4f4）にそろえる */
  box-shadow: 0 0 0px 999px #f4f4f4 inset;
}

main {
  padding-top: 8rem;
}

/* -レスポンシブ----- */

@media screen and (max-width: 530px) {
  main {
    padding-top: 6rem;
  }
}

/* -------------------------------------
	module
--------------------------------------*/

/* ---------------------------
    upArrow
--------------------------- */

#upArrow {
  text-align: right;
  padding-right: 50px;
  margin-bottom: 50px;
  margin-top: 80px;
}

#upArrow img {
  max-width: 80px;
  min-width: 40px;
  width: 11%;
}

@media screen and (max-width: 800px) {
  #upArrow {
    padding-right: 30px;
  }
}

@media screen and (max-width: 530px) {
  #upArrow {
    margin-top: 50px;
  }
}

/* --------------
   button 
----------------*/

.button {
  text-align: center;
  position: relative;
  border: 3px solid #a77b00;
  background-color: #FCF7E9;
  width: 50%;
  margin: clamp(30px, 6.6666666667vw, 50px) auto 0;
  display: flex;
  justify-content: center;
  align-items: center;
  height: clamp(50px, 10.6666666667vw, 80px);
}

.button:hover {
  opacity: 0.8;
}

.button__link {
  font-size: clamp(1.3rem, 1.8vw, 1.8rem);
  line-height: 1.3;
  font-weight: 500;
  font-family: source-sans-pro, sans-serif;
  color: #a77b00;
  display: block;
  position: absolute;
  text-align: center;
  width: 100%;
}

@media screen and (max-width: 530px) {
  .button__link {
    font-size: min(3.72vw, 1.6rem);
  }
}

.button__link:hover {
  color: #a77b00;
}

.button__link:visited {
  color: #a77b00;
}

.button__img {
  max-width: 40px;
  width: 15%;
  padding-top: 5px;
  margin-left: 8%;
}

/* -------------------
   header
-------------------- */

.header {
  /*header__btn
    ※bubbly-buttonは別で記載
  ------------------------- */
}

.header__list {
  position: fixed;
  z-index: 999;
  padding: 4rem 0;
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  top: 0;
  transition: 0.5s;
  background: #fff;
  border-bottom: 3px solid rgba(0, 0, 0, 0.15);
  /* nav-toggle open */
}

.header__list.open {
  background-color: white;
}

.header__list.hide {
  transform: translateY(-130%);
}

.header__logo {
  position: absolute;
  left: 0%;
  padding-left: 3rem;
  z-index: 20;
  color: black;
  max-width: 400px;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 1.5rem;
}

.header__logo-img {
  width: 8rem;
}

.header__logo-text {
  width: 80%;
}

.header__logo-text p {
  font-size: 0.8rem;
  font-weight: bold;
  line-height: 1rem;
}

.header__logo-text h1 {
  font-size: 2rem;
  font-weight: bold;
  line-height: 1.2;
}

.header__menu {
  background-color: #0095f9;
}

.header__menu input {
  display: none;
}

.header__menu label {
  display: block;
  cursor: pointer;
  position: absolute;
  width: 50vw;
  max-width: 100px;
  max-height: 100px;
  top: -1rem;
  right: 8%;
}

.header__menu label:hover circle {
  opacity: 1;
}

.header__menu p {
  position: absolute;
  font-size: 1.5rem;
  top: 3.2rem;
  right: 6.5%;
  font-weight: bold;
}

.header__menu path {
  fill: none;
  stroke: black;
  stroke-width: 3;
  stroke-linecap: round;
  stroke-linejoin: round;
  --length: 24;
  --offset: -38;
  stroke-dasharray: var(--length) var(--total-length);
  stroke-dashoffset: var(--offset);
  transition: all 0.8s cubic-bezier(0.645, 0.045, 0.355, 1);
}

.header__menu circle {
  fill: #fff3;
  opacity: 0;
}

.header__menu input:checked + svg .line--1,
.header__menu input:checked + svg .line--3 {
  --length: 22.627416998;
  --offset: -16.9705627485;
}

.header__menu input:checked + svg .line--2 {
  --length: 0;
  --offset: -20;
}

.header__menu .line--1,
.header__menu .line--3 {
  --total-length: 111.22813415527344;
  --offset: -50.22813415527344;
}

.header__menu .line--2 {
  --total-length: 99;
}

.header__menu input:checked + svg path {
  transform: translateX(30px);
}

.header__btn--sp {
  display: none;
}

.header__btn-link--1 {
  position: absolute;
  top: 2.2rem;
  right: calc(13% + 17.5rem);
  padding: 10px 25px;
  font-size: 15px;
  z-index: 20;
  border-radius: 10px;
  color: #fff;
  font-weight: bold;
  background-color: rgba(192, 255, 4, 0.8);
}

.header__btn-link--1:hover {
  color: #fff;
}

.header__btn-link--2 {
  position: absolute;
  top: 2.2rem;
  right: calc(10% + 8rem);
  padding: 10px 25px;
  font-size: 15px;
  z-index: 20;
  border-radius: 10px;
  color: #fff;
  font-weight: bold;
  background-color: rgba(233, 150, 122, 0.8);
}

.header__btn-link--2:hover {
  color: #fff;
}

/* -------------------
    header-nav
  -------------------- */

.header-nav {
  display: none;
  width: 100%;
  position: fixed;
  top: 8rem;
  left: 0;
  right: 0;
  overflow-y: auto;
  background: rgba(0, 0, 0, 0.8);
  z-index: 100;
}

.header-nav__list {
  font-size: 2.5rem;
  display: flex;
  justify-content: flex-start;
  align-items: center;
  gap: min(4vw, 4rem);
  padding: 2rem;
  flex-wrap: wrap;
  max-width: 145rem;
  margin: auto;
}

.header-nav__item {
  width: min(21.75%, 25rem);
  text-align: center;
  cursor: pointer;
  transition: all 0.3s;
}

.header-nav__item a:link,
.header-nav__item a:visited {
  color: #fff;
}

.header-nav__item span {
  font-size: clamp(1rem, 1.4vw, 1.4rem);
  line-height: 1.3;
  margin-top: 1rem;
  display: block;
  font-weight: 500;
}

@media screen and (max-width: 530px) {
  .header-nav__item span {
    font-size: min(2.79vw, 1.2rem);
  }
}

.header-nav__item:hover {
  opacity: 0.7;
}

.header-nav__thumbnail {
  width: 100%;
  position: relative;
  top: 0;
}

.header-nav__thumbnail::before {
  content: "";
  display: block;
  padding-bottom: 70%;
  background-color: #707070;
}

.header-nav__thumbnail > img {
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  margin: auto;
  -o-object-fit: cover;
     object-fit: cover;
  filter: grayscale(70%);
}

@media screen and (max-width: 530px) {
  .header__list {
    padding: 3rem 0;
  }

  .header__logo {
    padding-left: min(4.65vw, 2rem);
  }

  .header__logo-img {
    width: 6rem;
  }

  .header__menu label {
    top: -2rem;
  }

  .header__menu p {
    top: 2.2rem;
    right: 4%;
  }

  .header__btn--sp {
    display: block;
  }

  .header__btn--pc {
    display: none;
  }

  .header__btn-link--1 {
    font-size: clamp(1.2rem, 1.6vw, 1.6rem);
    line-height: 1.3;
    position: absolute;
    top: 1.5rem;
    right: calc(25% + 5rem);
    padding: 7px min(9.3vw, 40px);
    z-index: 20;
    border-radius: 10px;
  }

  /* -------------------
    header-nav
  -------------------- */
}

@media screen and (max-width: 530px) and (max-width: 530px) {
  .header__btn-link--1 {
    font-size: min(3.26vw, 1.4rem);
  }
}

@media screen and (max-width: 530px) {
  .header__btn-link--2 {
    font-size: clamp(1.2rem, 1.6vw, 1.6rem);
    line-height: 1.3;
    position: absolute;
    top: 1.5rem;
    right: 5%;
    padding: 7px min(9.3vw, 40px);
    z-index: 20;
    border-radius: 10px;
  }
}

@media screen and (max-width: 530px) and (max-width: 530px) {
  .header__btn-link--2 {
    font-size: min(3.26vw, 1.4rem);
  }
}

@media screen and (max-width: 530px) {
  .header-nav {
    top: 6.2rem;
  }

  .header-nav__list {
    font-size: 2.5rem;
    gap: min(4.65vw, 2rem);
    padding: min(20vw, 8rem) min(6.98vw, 3rem) min(4.65vw, 2rem);
  }

  .header-nav__item {
    width: calc(50% - min(2.33vw, 1rem));
  }
}

/*--------------------------
   footer
-------------------------- */

.footer {
  position: relative;
  z-index: 1;
  width: 100%;
  background-color: #f5f7fa;
  height: 7rem;
  display: flex;
}

.footer__inner {
  width: 100%;
  padding: 0 7.5%;
  margin: auto;
  box-sizing: border-box;
  max-width: calc(119rem + 15%);
}

@media screen and (max-width: 960px) {
  .footer__inner {
    padding: 0 5%;
  }
}

.footer__nav {
  width: 70%;
  padding-top: 1.5rem;
  margin: 0 auto;
  padding-bottom: clamp(20px, 5.3333333333vw, 40px);
}

.footer__nav-list {
  width: 100%;
  display: flex;
  align-items: center;
}

.footer__nav-item {
  flex: 1;
  text-align: center;
}

.footer__nav-link {
  font-size: clamp(1.3rem, 1.8vw, 1.8rem);
  line-height: 1.3;
  font-weight: 500;
  color: black;
  padding: 1rem;
  letter-spacing: 3px;
  text-align: center;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 1rem;
}

@media screen and (max-width: 530px) {
  .footer__nav-link {
    font-size: min(3.72vw, 1.6rem);
  }
}

.footer__copyright {
  color: black;
  letter-spacing: 3px;
  text-align: center;
  font-size: clamp(0.86rem, 1.2vw, 1.2rem);
  line-height: 1.3;
}

@media screen and (max-width: 530px) {
  .footer__copyright {
    font-size: min(2.33vw, 1rem);
  }
}

/* 
レスポンシブ--------------------------- */

@media screen and (max-width: 530px) {
  .footer__inner {
    padding: 0;
  }

  .footer__nav {
    width: 90%;
    padding-bottom: 0px;
    border: none;
  }

  .footer__list {
    width: 100%;
    display: block;
  }

  .footer__nav-item {
    list-style-type: none;
    width: 100%;
    overflow: hidden;
  }

  .footer__nav-link {
    font-size: min(3.48vw, 1.3rem);
    display: inline-block;
    color: black;
    padding: 3% 0;
    width: 100%;
    text-align: center;
  }

  .footer__nav-link span {
    display: inline;
    float: right;
    padding-right: 1rem;
  }

  .footer__nav-link img {
    width: 50%;
  }

  .footer__copyright {
    width: 100%;
    text-align: center;
    letter-spacing: 0px;
  }
}

.bubbly-button {
  cursor: pointer;
  -webkit-appearance: none;
  -moz-appearance: none;
       appearance: none;
  cursor: pointer;
  transition: transform ease-in 0.1s, box-shadow ease-in 0.25s;
}

.bubbly-button > i {
  position: relative;
  z-index: -1;
}

.bubbly-button:focus {
  outline: 0;
}

.bubbly-button:before,
.bubbly-button:after {
  position: absolute;
  content: "";
  display: block;
  width: 150%;
  height: 70%;
  left: -20%;
  z-index: -1000;
  transition: all ease-in-out 0.5s;
  background-repeat: no-repeat;
}

.bubbly-button:before {
  display: none;
  top: -35%;
  background-image: radial-gradient(circle, #d53fff 10%, transparent 20%), radial-gradient(circle, transparent 10%, #d53fff 20%, transparent 30%), radial-gradient(circle, #d53fff 10%, transparent 20%), radial-gradient(circle, #d53fff 10%, transparent 20%), radial-gradient(circle, transparent 5%, #d53fff 15%, transparent 20%), radial-gradient(circle, #ffd635 10%, transparent 20%), radial-gradient(circle, #ffd635 10%, transparent 20%), radial-gradient(circle, #ffd635 10%, transparent 20%), radial-gradient(circle, #ffd635 10%, transparent 20%);
  background-size: 10% 10%, 20% 20%, 15% 15%, 20% 20%, 18% 18%, 10% 10%, 15% 15%, 10% 10%, 18% 18%;
}

.bubbly-button:after {
  display: none;
  bottom: -35%;
  background-image: radial-gradient(circle, #56adff 10%, transparent 20%), radial-gradient(circle, #56adff 10%, transparent 20%), radial-gradient(circle, transparent 5%, #56adff 15%, transparent 20%), radial-gradient(circle, #56adff 10%, transparent 20%), radial-gradient(circle, #79ff4c 10%, transparent 20%), radial-gradient(circle, #79ff4c 10%, transparent 20%), radial-gradient(circle, #79ff4c 10%, transparent 20%);
  background-size: 15% 15%, 20% 20%, 18% 18%, 20% 20%, 15% 15%, 10% 10%, 20% 20%;
}

.bubbly-button:active {
  transform: scale(0.9);
  color: #ce89ff;
}

.bubbly-button.animate:before {
  display: block;
  -webkit-animation: topBubbles ease-in-out 0.75s forwards;
          animation: topBubbles ease-in-out 0.75s forwards;
}

.bubbly-button.animate:after {
  display: block;
  -webkit-animation: bottomBubbles ease-in-out 0.75s forwards;
          animation: bottomBubbles ease-in-out 0.75s forwards;
}

@-webkit-keyframes topBubbles {
  0% {
    background-position: 5% 90%, 10% 90%, 10% 90%, 15% 90%, 25% 90%, 25% 90%, 40% 90%, 55% 90%, 70% 90%;
  }

  50% {
    background-position: 0% 80%, 0% 20%, 10% 40%, 20% 0%, 30% 30%, 22% 50%, 50% 50%, 65% 20%, 90% 30%;
  }

  100% {
    background-position: 0% 70%, 0% 10%, 10% 30%, 20% -10%, 30% 20%, 22% 40%, 50% 40%, 65% 10%, 90% 20%;
    background-size: 0% 0%, 0% 0%, 0% 0%, 0% 0%, 0% 0%, 0% 0%;
  }
}

@keyframes topBubbles {
  0% {
    background-position: 5% 90%, 10% 90%, 10% 90%, 15% 90%, 25% 90%, 25% 90%, 40% 90%, 55% 90%, 70% 90%;
  }

  50% {
    background-position: 0% 80%, 0% 20%, 10% 40%, 20% 0%, 30% 30%, 22% 50%, 50% 50%, 65% 20%, 90% 30%;
  }

  100% {
    background-position: 0% 70%, 0% 10%, 10% 30%, 20% -10%, 30% 20%, 22% 40%, 50% 40%, 65% 10%, 90% 20%;
    background-size: 0% 0%, 0% 0%, 0% 0%, 0% 0%, 0% 0%, 0% 0%;
  }
}

@-webkit-keyframes bottomBubbles {
  0% {
    background-position: 10% -10%, 30% 10%, 55% -10%, 70% -10%, 85% -10%, 70% -10%, 70% 0%;
  }

  50% {
    background-position: 0% 80%, 20% 80%, 45% 60%, 60% 100%, 75% 70%, 95% 60%, 105% 0%;
  }

  100% {
    background-position: 0% 90%, 20% 90%, 45% 70%, 60% 110%, 75% 80%, 95% 70%, 110% 10%;
    background-size: 0% 0%, 0% 0%, 0% 0%, 0% 0%, 0% 0%, 0% 0%;
  }
}

@keyframes bottomBubbles {
  0% {
    background-position: 10% -10%, 30% 10%, 55% -10%, 70% -10%, 85% -10%, 70% -10%, 70% 0%;
  }

  50% {
    background-position: 0% 80%, 20% 80%, 45% 60%, 60% 100%, 75% 70%, 95% 60%, 105% 0%;
  }

  100% {
    background-position: 0% 90%, 20% 90%, 45% 70%, 60% 110%, 75% 80%, 95% 70%, 110% 10%;
    background-size: 0% 0%, 0% 0%, 0% 0%, 0% 0%, 0% 0%, 0% 0%;
  }
}

/* -------------------------------------
	pagination
--------------------------------------*/

.pagination {
  list-style: none;
  display: flex;
  justify-content: center;
  padding: 0.5rem;
  font-size: clamp(0.86rem, 1.2vw, 1.2rem);
  line-height: 1.3;
}

@media screen and (max-width: 530px) {
  .pagination {
    font-size: min(2.33vw, 1rem);
  }
}

.pagination li {
  margin: 0.5rem;
  border: 2px solid #333;
}

.pagination a {
  display: block;
  text-decoration: none;
  color: #333;
  padding: 0.5rem min(2vw, 2rem);
}

.pagination a:hover {
  background-color: #333;
  color: aliceblue;
}

.navi-active {
  background-color: #333;
}

.navi-active a {
  color: aliceblue;
}

.pagination-container {
  margin-top: clamp(50px, 13.3333333333vw, 100px);
  padding-bottom: clamp(20px, 5.3333333333vw, 40px);
}

@media screen and (max-width: 530px) {
  .pagination-container a {
    padding: 0.5rem min(3.49vw, 1.5rem);
  }
}

.comment_form {
  width: 100%;
  margin: auto;
  z-index: 10;
  position: fixed;
  top: 90%;
  background-color: white;
  transition: 0.5s;
}

.comment_form.active {
  transform: translate3d(0, -10%, 0);
  top: 100%;
}

.comment_form__inner {
  width: 100%;
  padding: 0 7.5%;
  margin: auto;
  box-sizing: border-box;
  max-width: calc(119rem + 15%);
}

@media screen and (max-width: 960px) {
  .comment_form__inner {
    padding: 0 5%;
  }
}

.comment_form__circle-spase {
  width: 100%;
  position: relative;
  height: 0;
}

.comment_form__circle {
  position: relative;
  display: inline-block;
  width: 3.5rem;
  height: 3.5rem;
  border-radius: 50%;
  background: #008cd6;
  top: -3rem;
  left: 100%;
  transform: translateX(-150%);
}

.comment_form__circle-span {
  position: absolute;
  display: inline-block;
  left: -0.25rem;
  top: 45%;
  transform: translateY(-50%);
  width: 4rem;
  text-align: center;
  font-size: 2rem;
}

.comment_form__circle-span::after {
  content: "\F102";
  font-family: "Font Awesome 5 Free";
  font-weight: 900;
  color: #fff;
}

.comment_form.active .comment_form__circle-span::after {
  content: "\F103";
  font-family: "Font Awesome 5 Free";
  font-weight: 900;
  color: #fff;
}

.comment_form__form {
  display: flex;
  gap: 2rem;
  margin: 2rem auto 3rem;
  position: relative;
  width: min(80%, 75rem);
}

.comment_form__form span {
  display: block;
  position: absolute;
  bottom: 3rem;
  color: red;
  font-size: clamp(0.86rem, 1.2vw, 1.2rem);
  line-height: 1.3;
}

@media screen and (max-width: 530px) {
  .comment_form__form span {
    font-size: min(2.33vw, 1rem);
  }
}

.comment_form__input {
  display: block;
  flex: 6;
  padding: 1rem;
  border-radius: 4px;
  border: none;
  box-shadow: 0 0 0 1px #ccc inset;
  appearance: none;
  -webkit-appearance: none;
  -moz-appearance: none;
  font-size: clamp(1rem, 1.4vw, 1.4rem);
  line-height: 1.3;
}

@media screen and (max-width: 530px) {
  .comment_form__input {
    font-size: min(2.79vw, 1.2rem);
  }
}

.comment_form__input:focus {
  outline: 0;
  box-shadow: 0 0 0 2px #2196f3 inset;
}

.comment_form__submit {
  display: block;
  flex: 1;
  padding: 1rem;
  font-size: clamp(1rem, 1.4vw, 1.4rem);
  line-height: 1.3;
  line-height: 1.3;
  border-radius: 9999px;
  border: none;
  background: #008cd6;
  color: white;
  font-weight: bold;
}

@media screen and (max-width: 530px) {
  .comment_form__submit {
    font-size: min(2.79vw, 1.2rem);
  }
}

/*Styling Selectbox*/

.dropdown {
  width: 300px;
  display: inline-block;
  background-color: #fff;
  border-radius: 2px;
  box-shadow: 0 0 2px #cccccc;
  transition: all 0.5s ease;
  position: relative;
  font-size: 14px;
  color: #474747;
  height: 100%;
  text-align: left;
}

.dropdown .select {
  cursor: pointer;
  display: block;
  padding: 10px;
}

.dropdown .select > i {
  font-size: 13px;
  color: #888;
  cursor: pointer;
  transition: all 0.3s ease-in-out;
  float: right;
  line-height: 20px;
}

.dropdown:hover {
  box-shadow: 0 0 4px #cccccc;
}

.dropdown:active {
  background-color: #f8f8f8;
}

.dropdown.active:hover,
.dropdown.active {
  box-shadow: 0 0 4px #cccccc;
  border-radius: 2px 2px 0 0;
  background-color: #f8f8f8;
}

.dropdown.active .select > i {
  transform: rotate(-90deg);
}

.dropdown .dropdown-menu {
  position: absolute;
  background-color: #fff;
  width: 125%;
  left: 0;
  margin-top: 1px;
  box-shadow: 0 1px 2px #cccccc;
  border-radius: 0 1px 2px 2px;
  overflow: hidden;
  max-height: 144px;
  overflow-x: auto;
  z-index: 9;
  padding: 0;
  list-style: none;
}

.dropdown .dropdown-menu-list {
  display: flex;
}

.dropdown .dropdown-menu li {
  padding: 10px;
  transition: all 0.2s ease-in-out;
  cursor: pointer;
}

.dropdown .dropdown-menu img {
  width: 5rem;
}

.dropdown .dropdown-menu b {
  display: block;
  font-size: 10px;
}

.dropdown .dropdown-menu li:hover {
  background-color: #f2f2f2;
}

.dropdown .dropdown-menu li:active {
  background-color: #e2e2e2;
}

/* -------------------------------------
	mypage　(profile画面)
--------------------------------------*/

.mypage__status-list {
  width: 100%;
  display: flex;
  flex-direction: column;
  gap: 2rem;
}

.mypage__status-item {
  display: flex;
  flex-direction: column;
  gap: 0.5rem;
}

.mypage__status-item-tit {
  font-size: clamp(1rem, 1.4vw, 1.4rem);
  line-height: 1.3;
  font-weight: bold;
  border-bottom: 0.2rem solid;
  text-align: left;
}

@media screen and (max-width: 530px) {
  .mypage__status-item-tit {
    font-size: min(2.79vw, 1.2rem);
  }
}

.mypage__status-item-body {
  font-size: clamp(1.2rem, 1.6vw, 1.6rem);
  line-height: 1.3;
  line-height: 1.5;
  text-align: left;
  white-space: pre-wrap;
}

@media screen and (max-width: 530px) {
  .mypage__status-item-body {
    font-size: min(3.26vw, 1.4rem);
  }
}

.mypage__icon {
  border: none;
  width: 30%;
  height: auto;
  margin: 2.5em auto 0.6em;
}

.swal2-actions {
  display: none;
}

@media screen and (max-width: 960px) {
  .mypage__status-list {
    width: 100%;
  }
}

@media screen and (max-width: 530px) {
  .mypage__status-list {
    padding: 0;
    margin-top: 1rem;
    gap: min(4.65vw, 2rem);
    flex-direction: column;
    width: 100%;
  }
}

