@use "responsive" as *;



@mixin font-size($max-size: 16, $min-size: null) {
    $min-width: 520;
    $max-width: 1024;
    $min-size: if($min-size != null, $min-size, $max-size * 0.7);

    // ビューポート幅の計算を文字列として直接指定
    $v: "(100 * (#{$max-size} - #{$min-size})) / (#{$max-width} - #{$min-width})";
    $r: "(#{$min-width} * #{$max-size} - #{$max-width} * #{$min-size}) / (#{$min-width} - #{$max-width})";

    font-size: clamp(
        calc($min-size / 16) * 1rem,
        calc((#{$v}) * 1vw + ((#{$r}) / 16) * 1rem),
        calc($max-size / 16) * 1rem
    );

    @include responsive("sp") {
        @if $max-size <= 32 {
            font-size: clamp(0.5rem, calc(4.2 * ($min-size / 16)) * 1vw, calc($max-size / 16) * 1rem * 0.8);
        } @else {
            font-size: min(calc(2.8 * ($min-size / 16)) * 1vw, calc($max-size / 16) * 1rem * 0.8);
        }
    }
}