/* -------------------------------------
	mixin
--------------------------------------*/

.type {
  margin-top: 2rem;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.type__inner {
  width: 100%;
  padding: 0 7.5%;
  margin: auto;
  box-sizing: border-box;
  max-width: calc(119rem + 15%);
  border: 0;
}

@media screen and (max-width: 960px) {
  .type__inner {
    padding: 0 5%;
  }
}

.type__ttl {
  text-align: center;
  font-size: clamp(1.6rem, 2.29vw, 3.2rem);
  line-height: 1.5;
  font-weight: bold;
}

@media screen and (max-width: 530px) {
  .type__ttl {
    font-size: min(6.4vw, 2.4rem);
  }
}

.type__ttl span {
  font-size: clamp(1rem, 1.43vw, 2rem);
  line-height: 1.3;
  font-weight: bold;
}

@media screen and (max-width: 530px) {
  .type__ttl span {
    font-size: min(4.8vw, 1.8rem);
  }
}

.type__cont {
  max-width: 600px;
  width: 100%;
  margin: 0 auto;
  padding: 5%;
  background-color: #fff;
  box-shadow: 0px 0px 15px -5px #777777;
  border-radius: 2rem;
  font-size: clamp(0.7rem, 1vw, 1.4rem);
  line-height: 1.3;
  line-height: 1.75;
}

@media screen and (max-width: 530px) {
  .type__cont {
    font-size: min(3.2vw, 1.2rem);
  }
}

.type__cont-flex {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 2rem;
}

.type__cont-ttl {
  font-size: clamp(1.6rem, 2.29vw, 3.2rem);
  line-height: 1.5;
  font-weight: bold;
}

@media screen and (max-width: 530px) {
  .type__cont-ttl {
    font-size: min(6.4vw, 2.4rem);
  }
}

.type__cont-ttl-img {
  width: min(10%, 5rem);
  padding-top: 0.5rem;
}

.type__cont-btn-box {
  margin: 5rem auto 0;
  width: min(50%, 20rem);
}

.type__cont-btn {
  padding: 1rem 0;
  background: #4bb582;
  border-radius: 9999px;
  color: #fff;
  display: block;
  font-size: clamp(0.8rem, 1.14vw, 1.6rem);
  line-height: 1.3;
}

@media screen and (max-width: 530px) {
  .type__cont-btn {
    font-size: min(3.73vw, 1.4rem);
  }
}

.type__cont-btn:hover {
  color: #fff;
}

.type__question {
  margin-top: 3rem;
}

.type__question-txt {
  display: flex;
  align-items: center;
  margin-top: 3rem;
  gap: 1rem;
}

.type__question-txt h5 {
  width: 4em;
  border: #4bb582 2px solid;
  background-color: #4bb582;
  color: #fff;
  padding: 1.25rem 0;
  text-align: center;
}

.type__question-txt p {
  flex: 1;
  padding: 1rem;
  border: #4bb582 1px solid;
}

.type__answer {
  display: flex;
  flex-direction: column;
  gap: 2rem;
  margin: 4rem auto 0;
  width: 90%;
}

.type__cont-exp {
  margin-top: min(3vw, 3rem);
  font-size: clamp(0.8rem, 1.14vw, 1.6rem);
  line-height: 1.3;
}

@media screen and (max-width: 530px) {
  .type__cont-exp {
    font-size: min(3.73vw, 1.4rem);
  }
}

.type__cont-exp span {
  display: inline-block;
}

.type__select {
  display: flex;
  flex-direction: column;
  gap: 2rem;
  margin-top: 4rem;
  font-weight: bold;
  font-size: clamp(0.7rem, 1vw, 1.4rem);
  line-height: 1.3;
}

@media screen and (max-width: 530px) {
  .type__select {
    font-size: min(3.2vw, 1.2rem);
  }
}

.type__select-box {
  border: 2px solid green;
  font-size: clamp(1rem, 1.43vw, 2rem);
  line-height: 1.3;
  font-weight: bold;
  padding: 1rem;
  text-align: center;
}

@media screen and (max-width: 530px) {
  .type__select-box {
    font-size: min(4.8vw, 1.8rem);
  }
}

@media screen and (max-width: 530px) {
  .type__answer a {
    padding: 1rem;
    font-size: clamp(0.6rem, 0.86vw, 1.2rem);
    line-height: 1.3;
    text-align: left;
  }
}

@media screen and (max-width: 530px) and (max-width: 530px) {
  .type__answer a {
    font-size: min(2.67vw, 1rem);
  }
}

