@charset "UTF-8";
/* -------------------------------------
	mixin
--------------------------------------*/
@use "../mixins" as  *;

/*---------------------------- 
    contact
---------------------------- */

.contact {
    /* Iphoneで矢印表示 */
    select {
        -moz-appearance: menulist;
        -webkit-appearance: menulist;
    }

    select::-ms-expand {
        display: block;
    }

    &__page_header {
        position: relative;
        width: 100%;
        background-size: cover;
        height: min(28.12vw, 300px);
        display: flex;
        justify-content: center;
        align-items: center;
        background-repeat: no-repeat;
        flex-direction: column;
        background-image: url(@images/contact_header.jpg);
    }
    &__page_title {
        @include font-size(48);
        color: #fff;
        text-shadow: 0 3px 4px rgba(34, 32, 32, 0.9);
        display: flex;
        align-items: center;
    }

    &__inner {
        @include inner;
        @include padding-top(50);
        @include padding-bottom(50);
    }

    &__desc {
        border-bottom: 1px solid black;
        @include font-size(18);
        padding-bottom: min(2vw, 20px);
        line-height: 1.75;
    }

    &__cont {
        input,
        textarea {
            display: block;
            margin: 0;
            padding: 0;
            background: none;
            border: none;
            border-radius: 0;
            outline: none;
            width: 100%;
            @include font-size(16);
        }

        select {
            margin: 0;
            padding: 0;
            background: none;
            border: none;
            border-radius: 0;
            outline: none;
            width: 95%;
            @include font-size(16);
        }
    }

    &__color-red {
        color: red;
        @include font-size(12);
    }

    &__item {
        margin-top: min(4vw, 40px);
        @include font-size(16);
        font-weight: 500;
    }
    &__item-flex {
        display: flex;
        gap: min(2vw, 20px);
        width: 75%;
    }
    &__item-wrap {
        flex: 1;
    }

    &__item-block {
        background: #f4f4f4;
        padding: min(2vw, 20px);
        margin: min(1.5vw, 15px) 0;
    }

    &__error {
        margin-bottom: 10px;
        display: block;
    }

    &__text_about {
        border: 1px solid black;
        padding: min(4vw, 40px);
        margin-top: min(5vw, 50px);

        h5 {
            padding-bottom: min(3vw, 30px);
            @include font-size(18);
        }

        p {
            @include font-size(16);
            line-height: 1.6;
        }
    }

    &__button {
        @include btn('contact');
    }
    &__button--2 {
        margin-top: max(-3vw, -30px);
    }
    &__back-button {
        @include btn('back');
    }
}

@include responsive("sp") {
    .contact {
        &__page_header {
            height: min(34.88vw, 150px);
        }

        &__inner {
            width: 100%;
            margin-top: min(6.98vw, 30px);
        }
        &__desc {
            padding-bottom: min(4.65vw, 20px);
        }

        &__item {
            margin-top: min(6.98vw, 30px);
        }

        &__item-flex {
            gap: min(2vw, 20px);
            width: 100%;
        }
        &__item-block {
            padding: min(3.49vw, 15px);
            margin: min(2.33vw, 10px) 0;
        }
    
        &__error {
            margin-bottom: min(2.33vw, 10px);
        }
    
        &__text_about {
            padding: min(4.65vw, 20px);
            margin-top: min(6.98vw, 30px);
    
            h5 {
                padding-bottom: min(4.65vw, 20px);
            }
        }
        &__button {
            width: 75%;
            margin: min(9.3vw, 40px) auto;
            input,
            a {
                padding: min(2.33vw, 10px) 0 min(2.33vw, 10px);

            }
    
        }
        &__button--2 {
            margin-top: max(-4.6vw, -20px);
        }
        
    }
}
