@charset "UTF-8";

/* first用CSS */

/* -cont_1-------------------------------- */

.cont-1 {
  position: relative;
}

.cont-1_image {
  // background-image: url(../images/first.jpg);
  // background-size: cover;
  background: turquoise;
  width: 100%;
  min-height: 100vh;
}

.cont-1_image a,
.cont-1_image a:visited,
.cont-1_image a:hover,
.cont-1_image a:active {
  color: inherit;
}

.cont-1_rogo {
  position: absolute;
  top: 40%;
  left: 50%;
  transform: translate(-50%, -50%);
  -webkit-transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);
  background-color: rgba(255, 255, 255, 0.5);
  background-color: rgba(255, 255, 255, 0.5);
  padding: 3%;
}


.cont-1_rogo_2 {
  position: absolute;
  top: 70%;
  left: 50%;
  transform: translate(-50%, -50%);
  -webkit-transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);
  padding: 2% 8%;
}

.cont-1_rogo_2 p{
  font-weight: bold;
  color: white;
  font-size: 1.8rem;
}

.background-bottom {
  position: absolute;
  top: 83%;
  width: 100%;
}

.loader,
.loader:before,
.loader:after {
  border-radius: 50%;
  width: 2.5em;
  height: 2.5em;
  -webkit-animation-fill-mode: both;
  animation-fill-mode: both;
  -webkit-animation: load7 1.8s infinite ease-in-out;
  animation: load7 1.8s infinite ease-in-out;
}
.loader {
  color: #ffffff;
  font-size: 8px;
  margin: 0 auto;
  position: relative;
  text-indent: -9999em;
  -webkit-transform: translateZ(0);
  -ms-transform: translateZ(0);
  transform: translateZ(0);
  -webkit-animation-delay: -0.16s;
  animation-delay: -0.16s;
}
.loader:before,
.loader:after {
  content: '';
  position: absolute;
  top: 0;
}
.loader:before {
  left: -3.5em;
  -webkit-animation-delay: -0.32s;
  animation-delay: -0.32s;
}
.loader:after {
  left: 3.5em;
}
@-webkit-keyframes load7 {
  0%,
  80%,
  100% {
    box-shadow: 0 2.5em 0 -1.3em;
  }
  40% {
    box-shadow: 0 2.5em 0 0;
  }
}
@keyframes load7 {
  0%,
  80%,
  100% {
    box-shadow: 0 2.5em 0 -1.3em;
  }
  40% {
    box-shadow: 0 2.5em 0 0;
  }
}

/* ---------------------------------------- */
