/* -------------------------------------
	contact
--------------------------------------*/

.contact{
	margin-top: calculation(10, 5); 

	&__title{
        @include home-title("main");
    }
    &__subtitle{
        @include home-title("sub");
    }
    &__inner{
        @include inner;
    }
	&__cont{
        width: 75%;
        margin: 0 auto;
    }
    &__desc{
        margin-top: calculation(5, 2); 
        text-align: left;
        
        @include font-size("20");
    }
    
}
@include responsive("sp") {

    .contact{
        &__cont {
            width: 90%;
        }
    }
}    
