/*-------------------
  mainvisual
-------------------*/

.mainvisual {
    position: relative;
    width: 100%;
    height: 100vh;
    // overflow: hidden;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: -8rem;

    &__bg {
        background: linear-gradient(
            180deg,
            rgba(0, 0, 0, 0) 0%,
            rgba(0, 0, 0, 0) 50%,
            rgba(252, 247, 233, 1) 50%,
            rgba(252, 247, 233, 1) 100%
        );
        width: 100%;
        // padding: 10% 0;
        height: 100%;
        display: flex;
    }

    &__inner {
        @include inner;
    }

    &__cont {
        display: flex;
        justify-content: space-around;
        width: 100%;
        margin: 0 auto;
        padding: 5%;
        background-color: #fff;
        box-shadow: 0px 0px 15px -5px #777777;
        border-radius: 2rem;
    }

    &__left {
        width: 50%;
    }

    &__right {
        width: 40%;
        opacity: 1;
        transition: animation 0.3s;
        -webkit-mask-image: linear-gradient(45deg, white 60%, transparent);
        mask-image: linear-gradient(260deg, white 60%, transparent);
        display: flex;
        justify-content: center;
        align-items: center;
        filter: drop-shadow(5px 5px 5px #aaa);

        // &:hover {
        //     animation: poyoyon3 2.5s infinite;
        // }

        // @keyframes poyoyon3 {
        //     0%,
        //     40% {
        //         transform: skew(0deg, 0deg);
        //     }
        //     5% {
        //         transform: skew(4deg, 4deg);
        //     }
        //     10% {
        //         transform: skew(-3deg, -3deg);
        //     }
        //     15% {
        //         transform: skew(2deg, 2deg);
        //     }
        //     20% {
        //         transform: skew(-1deg, -1deg);
        //     }
        //     25% {
        //         transform: skew(0deg, 0deg);
        //     }
        //     30% {
        //         transform: skew(-0.3deg, -0.3deg);
        //     }
        //     35% {
        //         transform: skew(0.1deg, 0.1deg);
        //     }
        // }

        img {
            width: 80%;
            height: 80%;
            object-fit: cover;
        }
    }

    &__sub-ttl {
        @include font-size("32");
        display: flex;
        align-items: center;
        gap: 1rem;

        img {
            width: 4rem;
        }

        span {
            color: rgb(255, 99, 99);
        }
    }

    &__main-ttl {
        @include font-size("48");
        padding-top: min(3vw, 3rem);
        font-weight: 900;
    }

    &__desc {
        @include font-size("32");
        padding-top: min(2.67vw, 2.5rem);
        font-weight: 900;
    }

    &__btn-box {
        display: flex;
        gap: 5%;
    }

    &__btn {
        margin: min(3vw, 4rem) auto 0;
        background-color: #f9e61f;
        width: 50%;
        display: flex;
        justify-content: space-around;
        align-items: center;
        font-size: clamp(1.2rem, 1.4vw, 1.8rem);
        line-height: 1.5;
        font-weight: bold;
        text-align: center;
        border-radius: 9999px;
        padding: clamp(0.5rem, 1.5vw, 1rem) 0;
        position: relative;
        overflow: hidden;
        z-index: 1;
        -webkit-filter: drop-shadow(1px 3px 5px rgba(0, 0, 0, 0.2));
        -moz-filter: drop-shadow(1px 3px 5px rgba(0, 0, 0, 0.2));
        -ms-filter: drop-shadow(1px 3px 5px rgba(0, 0, 0, 0.2));
        filter: drop-shadow(1px 3px 5px rgba(0, 0, 0, 0.2));
        // text-shadow: 1px 1px 0 #a79600, -1px 1px 0 #a79600, -1px -1px 0 #a79600, 1px -1px 0 #a79600;

        &:hover {
            filter: none;
            color: black;
            text-decoration: auto;
        }

        &:hover::before {
            transform: scaleX(1);
        }

        &:before {
            content: "";
            background: #ffffff;
            display: inline-block;
            border-radius: 9999px;
            position: absolute;
            top: 0;
            left: 0;
            width: 100%;
            height: 100%;
            border: 2px solid black;
            transform-origin: 1px 50%;
            transform: scaleX(0);
            transition: transform 0.2s;
            z-index: -1;
            // transition: text-shadow 0.1s;
        }
    }
}
@include responsive("sp") {
    .mainvisual {
        height: calc(100vh - 8rem);
        margin-top: 0;
        &__bg {
            background: linear-gradient(
                200deg,
                rgba(0, 0, 0, 0) 0%,
                rgba(0, 0, 0, 0) 45%,
                rgba(252, 247, 233, 0.6) 45%,
                rgba(252, 247, 233, 0.6) 100%
            );
            padding: 0;
        }

        &__inner {
            padding-bottom: 5%;
        }
        &__cont {
            flex-direction: column-reverse;
            gap: min(6.98vw, 3rem);
            padding: 10% 5%;
        }

        &__left {
            width: 100%;
            padding: 0 5%;
        }

        &__right {
            width: 100%;
            overflow: hidden;
            display: none;
        }

        &__main-ttl {
            padding-top: min(4.65vw, 2rem);
        }

        &__desc {
            padding-top: min(4.65vw, 2rem);
        }
        &__btn-box {
            flex-direction: column;
            margin-top: min(4.65vw, 2rem);
        }
        &__btn {
            margin: min(4.65vw, 2rem) auto 0;
            padding: min(2.3vw, 1rem) 0;
            width: 80%;
            filter: none;
        }
    }
}
