/* -------------------------------------
	worrie
--------------------------------------*/

.worrie {
    margin-top: 10rem;

    &__inner{
        @include inner;
    }
    &__title{
        @include home-title("main");

        &--color{
            color: red;
        }
    }

    &__subtitle{
        @include home-title("sub");
    }

    &__cont{
        margin-top: calculation(5, 2);
    }

    &__flex{
        display: flex;
        justify-content: center;
        align-items: center;
        gap: calculation(5, 2);
    }

    &__flex-box{
        width: 25%;
    }

    &__flex-img{
        width: 100%;
        text-align: center;
    }

    &__flex-text{
        font-size: 1.6rem;
        font-weight: bold;
        width: 90%;
        margin: 2rem auto;
        line-height: 1.5;
        box-shadow: 4px 4px 3px rgba(0, 0, 0, 0.2);
        padding: 1.5rem 2rem;
        text-align: center;
        text-shadow: 1px 4px rgba(190,0,0,0.1);
        color: red;
    }
}

@include responsive("sp") {
    .worrie {
        margin-top: 100px;

        &__flex{
            display: block;
        }

        &__flex-box {
            width: 80%;
            &:nth-child(2){
                margin: 2rem 0 2rem auto;
                .worrie__flex-img{
                    margin: 0 0 0 auto;
                }
            }
        }
        
        &__flex-img{
            width: 70%;
        }

        &__flex-text {
            font-size: 1.5rem;
            width: 85%;
            margin: 0;
        }
    }
}