/* -------------------------------------
	mixin
--------------------------------------*/
@use '../../mixins' as *;

/* -------------------------------------
	function
--------------------------------------*/
@use '../../functions/calculation' as *;

.login {
  height: 100vh;
  // margin-top: -80px;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;

  input {
    @include font-size(14);
  }

  &__inner {
    @include inner;
    border: 0;
  }

  &__logo {
    position: relative;
    overflow: hidden;
    display: block;

    &::before {
      content: '';
      display: block;
      padding-top: 15%;
    }
    > img {
      position: absolute;
      width: 25%;
      height: 100%;
      top: 0;
      bottom: 0;
      left: 0;
      right: 0;
      margin: auto;
      -o-object-fit: contain;
      object-fit: contain;
      transition: 0.5s all;
    }
  }

  &__cont {
    max-width: 600px;
    width: 100%;
    margin: 0 auto;
    padding: 5%;
    background-color: #fff;
    box-shadow: 0px 0px 15px -5px #777777;
    border-radius: 20px;
  }

  &__form {
    margin-top: min(3vw, 30px);
  }

  &__btn {
    @include font-size(14);
    margin: min(2vw, 20px) auto 0;
    @include padding-top(10);
    @include padding-bottom(10);
    background: #4bb582;
    color: #fff;
    border-radius: 9999px;
    border: 1px solid #4bb582;
    &:hover {
      color: #4bb582;
      border: 1px solid #4bb582;
    }
  }

  &__txt {
    @include margin-top(20);
    @include font-size(16);
    a {
      color: #3490dc;
    }
  }

  &__google {
    border-bottom: 1px solid #d7d7d7;
    padding-bottom: min(5vw, 50px);
  }

  &__google_txt {
    @include font-size(14);
  }

  &__register-txt {
    margin-top: min(4vw, 40px);
    text-align: center;
    @include font-size(16);
    font-weight: bold;
  }
  &__btn--google {
    background: #4285f4;
    color: white;

    &:hover {
      background: #357ae8;
      color: white;
      text-decoration: none;
    }
    i {
      margin-right: 8px;
    }
  }
}

@media screen and (max-width: 530px) {
  .login {
    height: 100%;
    @include margin-top(150);
    @include margin-bottom(150);

    &__form {
      // padding-bottom: min(6.98vw, 30px);
      margin-top: min(4.65vw, 20px);
    }

    &__btn {
      margin: min(3.49vw, 15px) auto 0;
      padding: min(2.33vw, 10px) 0;
    }

    &__txt {
      margin-top: min(3.49vw, 15px);
    }

    &__register-txt {
      margin-top: min(4.65vw, 20px);
    }
  }
}
