/* -------------------------------------
	mixin
--------------------------------------*/

@import "../../mixin/responsive";
@import "../../mixin/inner";
@import "../../mixin/home-title";
@import "../../mixin/font-size";

/* -------------------------------------
	function
--------------------------------------*/
@import "../../functions/calculation";


.password {
    height: 100vh;
    margin-top: -8rem;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;

    &__inner {
        @include inner;
        border: 0;
    }

    &__logo {
        position: relative;
        overflow: hidden;
        display: block;
        margin-bottom: min(3vw, 3rem);

        &::before {
            content: "";
            display: block;
            padding-top: 15%;
        }
        > img {
            position: absolute;
            width: 25%;
            height: 100%;
            top: 0;
            bottom: 0;
            left: 0;
            right: 0;
            margin: auto;
            -o-object-fit: contain;
            object-fit: contain;
            transition: 0.5s all;
  
        }
    }

    &__cont {
        max-width: 600px;
        width: 100%;
        margin: 0 auto;
        padding: 5%;
        background-color: #fff;
        box-shadow: 0px 0px 15px -5px #777777;
        border-radius: 2rem;
    }
    &__ttl {
        padding-left: 1.5rem;
        @include font-size("18");
        font-weight: bold;
        margin-bottom: min(1vw, 1rem);
    }

    &__btn-box{
        margin-top: min(5vw, 5rem);
    }

    &__btn {
        margin: 0 auto;
        padding: 1rem 0;
        background: #4bb582;
        color: #fff;
        border-radius: 9999px;
        @include font-size("14");
        &:hover {
          color: #fff;
      }
    }
    &__mypage-btn {
        margin: 2rem auto 0;
        padding: 1rem 0;
        border-radius: 9999px;
        background: #4b59b5;
        color: #fff;
        @include font-size("14");
        &:hover {
          color: #fff;
      }
    }
}
@media screen and (max-width: 530px) {
    .password {
        height: calc(100vh - 8rem);
        margin-top: 0;
        
        &__logo {
            margin-bottom: min(4.65vw, 2rem);
        }

        &__ttl {
            padding-left: min(3.49vw, 1.5rem);
            margin-bottom: min(2.33vw, 1rem);
        }
        &__btn-box{
            margin-top: min(6.98vw, 3rem);
        }    
        &__btn {
            padding: min(2.33vw, 1rem) 0;
        }
        &__mypage-btn {
            margin: min(4.65vw, 2rem) auto 0;
        }

    }
}
