/* -------------------------------------
	mixin
--------------------------------------*/

@use '../../mixins' as *;

.register {
  height: 100vh;
  width: 100%;
  margin-top: -80px;
  display: flex;
  justify-content: center;
  align-items: center;

  &.register--add_information {
    margin-top: 0;
  }

  input {
    @include font-size(14);
  }

  &__inner {
    @include inner;
    border: 0;
  }

  &__logo {
    position: relative;
    overflow: hidden;
    display: block;

    &::before {
      content: '';
      display: block;
      padding-top: 15%;
    }
    > img {
      position: absolute;
      width: 25%;
      height: 100%;
      top: 0;
      bottom: 0;
      left: 0;
      right: 0;
      margin: auto;
      -o-object-fit: contain;
      object-fit: contain;
      transition: 0.5s all;
    }
  }

  &__cont {
    max-width: 600px;
    width: 100%;
    margin: 0 auto;
    padding: 5%;
    background-color: #fff;
    box-shadow: 0px 0px 15px -5px #777777;
    border-radius: 20px;
    @include font-size(12);
    line-height: 1.75;
  }

  &__form {
    margin-top: min(3vw, 30px);
  }

  &__txt {
    margin-top: min(4vw, 40px);
    @include font-size(14);
    // text-align: center;
    font-weight: bold;
    line-height: 1.75;
  }

  &__form-group {
    margin-top: 20px;
    @include font-size(14);

    textarea {
      min-height: 10em;
    }
  }

  &__btn {
    width: min(50%, 200px);
    @include font-size(14);
    margin: auto;
    @include margin-top(40);
    @include padding-top(10);
    @include padding-bottom(10);
    background: #4bb582;
    color: #fff;
    border-radius: 9999px;
    border: 1px solid #4bb582;
    &:hover {
      color: #4bb582;
      border: 1px solid #4bb582;
    }
  }
}

@media screen and (max-width: 530px) {
  .register {
    height: 100%;
    @include margin-top(150);
    @include margin-bottom(150);

    &__btn {
      margin: min(10.67vw, 40px) auto 0;
    }
  }
}
