/* -------------------------------------
  mixin
--------------------------------------*/

.floating__banner {
  position: fixed;
  z-index: 99998;
  bottom: 40%;
  right: 0;
}

.floating__banner a {
  text-decoration: none;
}

.floating__banner-back {
  background-color: #fff;
  border-radius: 1.5rem;
}

.floating__banner-body {
  text-align: center;
  border-radius: 1.5rem;
  box-shadow: 0 0 7px rgba(0, 0, 0, 0.4);
  padding: 3rem 2rem;
  background: radial-gradient(#0ab0c7, #006eb0 70%);
  font-size: clamp(1.2rem, 1.6vw, 1.6rem);
  line-height: 1.3;
  font-weight: bold;
  color: white;
  display: flex;
  gap: 1rem;
  -ms-writing-mode: tb-rl;
  writing-mode: vertical-rl;
}

@media screen and (max-width: 530px) {
  .floating__banner-body {
    font-size: min(3.26vw, 1.4rem);
  }
}

.floating__banner-body:hover {
  transition: opacity 0.3s ease;
  opacity: 0.7;
}

.floating__banner-close {
  font-weight: bold;
  position: absolute;
  top: -2px;
  right: -4px;
  z-index: 99999;
  padding: 4px 8px;
  border: none;
  background-color: #f8f8f8;
  border-radius: 25px;
  cursor: pointer;
  box-shadow: 0 0 7px rgba(0, 0, 0, 0.4);
}

@media screen and (max-width: 750px) {
  .floating__banner-body {
    padding: min(4.65vw, 2rem);
    border-radius: 1rem;
    align-items: center;
    justify-content: center;
  }

  .floating__banner-close {
    display: none;
  }
}

/* -------------------------------------
  setting
--------------------------------------*/

.setting {
  background-color: #f5f7fa;
  padding-bottom: min(5vw, 5rem);
}

.setting__inner {
  width: 100%;
  padding: 0 7.5%;
  margin: auto;
  box-sizing: border-box;
  max-width: calc(119rem + 15%);
}

@media screen and (max-width: 960px) {
  .setting__inner {
    padding: 0 5%;
  }
}

.setting__title {
  padding-top: min(5vw, 5rem);
  font-size: clamp(3.4rem, 4.8vw, 4.8rem);
  line-height: 1.5;
  font-weight: 900;
  font-weight: 900;
}

@media screen and (max-width: 530px) {
  .setting__title {
    font-size: min(8.37vw, 3.6rem);
  }
}

.setting__cards {
  padding-top: min(3vw, 3rem);
  font-size: clamp(1.2rem, 1.6vw, 1.6rem);
  line-height: 1.3;
}

@media screen and (max-width: 530px) {
  .setting__cards {
    font-size: min(3.26vw, 1.4rem);
  }
}

.setting__card {
  padding: min(2vw, 2rem);
  background: white;
}

.setting__card:nth-child(n+2) {
  margin-top: min(5vw, 5rem);
}

.setting__card-header {
  font-size: clamp(1.43rem, 1.43vw, 2rem);
  line-height: 1.3;
  font-weight: bold;
  font-weight: bold;
}

@media screen and (max-width: 530px) {
  .setting__card-header {
    font-size: min(4.19vw, 1.8rem);
  }
}

.setting__card-body {
  margin-top: min(3vw, 3rem);
}

.setting__card-commands {
  display: flex;
  gap: 1rem;
  margin-top: min(2vw, 2rem);
  flex-wrap: wrap;
}

.setting__card-commands a {
  font-size: clamp(1rem, 1.4vw, 1.4rem);
  line-height: 1.3;
}

@media screen and (max-width: 530px) {
  .setting__card-commands a {
    font-size: min(2.79vw, 1.2rem);
  }
}

.setting__card-table {
  margin: min(2vw, 2rem) 0;
  line-height: 2;
  border-bottom: 0.1rem solid #dee2e6;
  font-size: clamp(1.2rem, 1.6vw, 1.6rem);
  line-height: 1.3;
}

@media screen and (max-width: 530px) {
  .setting__card-table {
    font-size: min(3.26vw, 1.4rem);
  }
}

.setting__card-table th {
  vertical-align: middle;
  padding: 1rem;
  width: 30%;
  padding: min(2vw, 2rem) min(0.75vw, 0.75rem);
}

.setting__card-table td {
  vertical-align: middle !important;
  padding: min(2vw, 2rem) min(1vw, 1rem);
}

.setting__card-table td.setting__card-td-height {
  width: 100%;
  min-height: 10em;
  display: flex;
  align-items: center;
  white-space: pre-wrap;
}

.setting__card-pic {
  position: relative;
  overflow: hidden;
}

.setting__card-pic::before {
  content: "";
  display: block;
  padding-top: min(15vw, 15rem);
}

.setting__card-img {
  position: absolute;
  width: min(15vw, 15rem);
  height: 100%;
  top: 0;
  bottom: 0;
  left: 0;
  -o-object-fit: contain;
     object-fit: contain;
  transition: 0.5s all;
  border-radius: 10px;
  filter: drop-shadow(0 3px 5px rgba(0, 0, 0, 0.4));
}

.setting__commands {
  display: flex;
  gap: 1rem;
}

.setting__commands a {
  display: block;
  flex: 1;
  font-size: clamp(1rem, 1.4vw, 1.4rem);
  line-height: 1.3;
}

@media screen and (max-width: 530px) {
  .setting__commands a {
    font-size: min(2.79vw, 1.2rem);
  }
}

.setting__modal-dialog {
  height: calc(100vh - 3.5rem);
  display: flex;
  align-items: center;
}

.setting__modal-content {
  height: min(100%, 85vh);
  overflow: auto;
}

.setting__modal-header {
  justify-content: center;
  padding: 2%;
}

.setting__modal-tit {
  font-size: clamp(1.7rem, 2.4vw, 2.4rem);
  line-height: 1.3;
  font-weight: bold;
}

@media screen and (max-width: 530px) {
  .setting__modal-tit {
    font-size: min(4.65vw, 2rem);
  }
}

.setting__modal-body {
  padding: 2em;
  display: flex;
  flex-direction: column;
  gap: min(2vw, 2rem);
  font-size: clamp(1.2rem, 1.6vw, 1.6rem);
  line-height: 1.3;
}

@media screen and (max-width: 530px) {
  .setting__modal-body {
    font-size: min(3.26vw, 1.4rem);
  }
}

.setting__modal-body span {
  display: inline-block;
  background-color: cornflowerblue;
  color: #fff;
  padding: 1% 5%;
  margin-bottom: 1em;
}

.setting__modal-pic {
  position: relative;
}

.setting__modal-pic::before {
  content: "";
  display: block;
  padding-top: 50%;
}

.setting__modal-pic img {
  position: absolute;
  width: 50%;
  height: auto;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  margin: auto;
  -o-object-fit: cover;
     object-fit: cover;
}

.setting__modal-footer {
  justify-content: center;
  padding: 2%;
}

.setting__modal-btn {
  font-size: clamp(1.2rem, 1.6vw, 1.6rem);
  line-height: 1.3;
}

@media screen and (max-width: 530px) {
  .setting__modal-btn {
    font-size: min(3.26vw, 1.4rem);
  }
}

@media screen and (max-width: 530px) {
  .setting {
    padding-bottom: min(9.3vw, 4rem);
  }

  .setting__title {
    padding-top: min(6.98vw, 3rem);
  }

  .setting__cards {
    padding-top: min(4.65vw, 2rem);
  }

  .setting__card {
    padding: min(3.49vw, 1.5rem);
    background: white;
  }

  .setting__card:nth-child(n+2) {
    margin-top: min(4.65vw, 3rem);
  }

  .setting__card-table {
    margin: min(4.65vw, 2rem) 0;
  }

  .setting__card-table th {
    padding: min(4.65vw, 2rem) min(1.74vw, 0.75rem);
  }

  .setting__card-table td {
    padding: min(4.65vw, 2rem) min(2.33vw, 1rem);
  }

  .setting__card-table--profile th {
    width: 40%;
  }

  .setting__card-body {
    margin-top: min(2.67vw, 1rem);
  }

  .setting__card-commands {
    gap: min(2.67vw, 1rem);
    margin-top: min(4.65vw, 2rem);
  }

  .setting__card-pic::before {
    padding-top: 50%;
  }

  .setting__card-img {
    width: 50%;
  }

  .setting__commands {
    flex-direction: column;
    gap: 0;
  }

  .setting__commands a {
    display: block;
    flex: 1;
  }
}

