/* -------------------------------------
	mixin
--------------------------------------*/

@use "../../../mixin/responsive" as *;
@use "../../../mixin/inner" as *;
@use "../../../mixin/home-title" as *;
@use "../../../mixin/font-size" as *;

/* -------------------------------------
	function
--------------------------------------*/
@use "../../../functions/calculation" as *;

/* -------------------------------------
	post_show
--------------------------------------*/

.post_show {
    background-color: #f5f7fa;
    min-height: calc(100vh - 130px);

    &__inner {
        @include inner;
        width: min(80%, 750px);
        margin: 0 auto;
    }
    &__cont {
        padding-top: min(5vw, 50px);
        border-bottom: 1px solid black;
        padding: min(2vw, 20px) 0 min(3vw, 30px);
    }
    &__cont-body {
        @include font-size(18);
        padding: min(2vw, 20px) 0 min(3vw, 30px);
        display: flex;
        justify-content: center;
    }
    &__cont-pic {
        width: min(40vw, 400px);
        position: relative;
        margin: auto;

        &::before {
            content: "";
            display: block;
            padding-top: 100%;
        } 
        img {
            position: absolute;
            width: 100%;
            height: 100%;
            top: 0;
            right: 0;
            bottom: 0;
            left: 0;
            margin: auto;
            object-fit: contain;
        }
    }
    &__list {
        margin-top: min(5vw, 50px);
        display: flex;
        flex-direction: column;
        gap: 10px;
        @include font-size(14);
        padding-bottom: min(10vw, 100px);
    }
    &__item {
        display: flex;
    }

    /*Line風の吹き出し*/

    &__item--balloon_l,
    &__item--balloon_r {
        display: flex;
        justify-content: flex-start;
        align-items: center; /*縦位置を真ん中揃え*/
        gap: min(2vw, 20px);
    }

    &__item--balloon_r {
        justify-content: flex-end;

        .post_show__item-pic {
            order: 2 !important;
        }
        .post_show__item-txt:after {
            right: -26px;
            border-left: 22px solid #99dddd;
        }
    }
    &__item--balloon_l {
        .post_show__item-pic {
            cursor: pointer;
        }
        .post_show__item-txt:after {
            left: -26px;
            border-right: 22px solid #99dddd;
        }
    }
    &__item-link {
        width: 70px;
    }
    &__item-pic {
        position: relative;

        &::before {
            content: "";
            display: block;
            padding-top: 100%;
        }

        img {
            position: absolute;
            width: 100%;
            height: 100%;
            top: 0;
            right: 0;
            bottom: 0;
            left: 0;
            margin: auto;
            object-fit: contain;
            border-radius: 9999px;
        }
    }

    &__item-text {
        max-width: 500px; /*最大幅は任意*/
        display: flex;
        flex-wrap: wrap;
        position: relative;
        padding: 1em;
        border-radius: 12px;
        background: #99dddd; /*色は任意*/
        box-sizing: border-box;
        margin: 0 !important;
        @include font-size(16);
        line-height: 1.5;
        gap: 0.5em;

        p {
            margin: 8px 0 0 !important;

            &:first-child {
                margin-top: 0 !important;
            }
            &:after {
                content: "";
                position: absolute;
                border: 10px solid transparent;
            }
        }
        .del {
            color: #a94d4a;
            font-weight: bold;
        }
    }
}

@include responsive("sp") {
    .post_show {
        &__item--balloon_l,
        &__item--balloon_r {
            gap: min(3.49vw, 15px);
        }

        &__item-link {
            width: min(13.95vw, 60px);
        } 
    }
}
